<header id="header">
    <a href="#home">
        <img loading="lazy" class="logo" data-src="./assets/images/logo.png" alt="MK">
    </a>
    <nav>
        <ul>
            <li>
                <a href="#home" class="active">
                    <i class="la la-home"></i>
                    <div class="label">Home</div>
                </a>
            </li>
            <li>
                <a href="#about">
                    <i class="la la-user"></i>
                    <div class="label">About</div>
                </a>
            </li>
            <li>
                <a href="#work">
                    <i class="la la-briefcase"></i>
                    <div class="label">Work</div>
                </a>
            </li>
            <li>
                <a href="#skills">
                    <i class="la la-cog"></i>
                    <div class="label">Skills</div>
                </a>
            </li>
            <li>
                <a href="#contact">
                    <i class="la la-comment-dots"></i>
                    <div class="label">Contact</div>
                </a>
            </li>
        </ul>
    </nav>
    <ul class="options">
        <li>
            <i id="dark-theme" class="la la-moon" onclick="changeTheme('dark-theme')"></i>
            <i id="light-theme" class="la la-sun display-none" onclick="changeTheme('light-theme')"></i>
        </li>
        <li>
            <i id="signin" class="la la-sign-in-alt highlight" disabled="true"></i>
            <i id="adminMenu" class="la la-bars highlight display-none"></i>
        </li>
    </ul>
</header>


<div id="home" class="container">
    <img src="./assets/images/mounish.png" alt="Mounish Kumar" />
    <div class="content">
        <h2>Hey, I'm <span class="highlight">Mounish Kumar</span></h2>
        <h1>Let's turn ideas<br> into reality</h1>
        <h3>Full-stack Web Developer</h3>
        <div class="action">
            <a href="#about" class="btn">Know More</a>
            <a class="btn primary" onclick="downloadResume()">Resume</a>
        </div>
    </div>
</div>


<div id="about" class="container">
    <section>
        <h1>About Me</h1>
        <p>
            Hello world! My name is Mounish Kumar.
            I'm a Full-stack Web Developer and UI/UX Enthusiast based in Chennai, India.
            I got a Bachelor of Engineering degree from Anna University.<br><br>
            I've <span class="highlight">6+ years of experience</span> in writing clean, elegant & efficient code.
            My areas of expertise include
        </p>
        <div class="horizontal-scroll-m">
            <ul id="services">
                <li>
                    <i class="la la-code"></i>
                    <span class="label">Full-stack Web Development</span>
                </li>
                <li>
                    <i class="la la-laptop-code"></i>
                    <span class="label">Responsive Web Design</span>
                </li>
                <li>
                    <i class="la la-mobile"></i>
                    <span class="label">Progressive Web App</span>
                </li>
                <li>
                    <i class="la la-palette"></i>
                    <span class="label">Graphic Design</span>
                </li>
            </ul>
        </div>
    </section>
</div>


<div id="work" class="container">
    <h1>My <span class="highlight">Work</span></h1>
    <div class="wrapper horizontal-scroll-m">
        <section data-tilt>
            <p>August 2016 - Present</p>
            <a href="https://www.centrico.tech" target="_blank">
                <img loading="lazy" data-src="./assets/images/centrico.png" alt="Centrico" class="company-logo" id="centrico">
            </a>
            <h1>Associate Developer</h1>
            <div class="clients">
                <p>Clients I worked for</p>
                <ul>
                    <a href="https://www.sella.it" target="_blank">
                        <img loading="lazy" data-src="./assets/images/sella.png" alt="Sella" id="sella">
                    </a>
                    <a href="https://www.hype.it" target="_blank">
                        <img loading="lazy" data-src="./assets/images/hype.png" alt="Hype" id="hype">
                    </a>
                    <a href="https://www.axerve.com/en" target="_blank">
                        <img loading="lazy" data-src="./assets/images/axerve.png" alt="Axerve" id="axerve">
                    </a>
                </ul>
            </div>
        </section>
        <section data-tilt>
            <p>April 2014 - July 2016</p>
            <a href="https://www.wipro.com/en-IN" target="_blank">
                <img loading="lazy" data-src="./assets/images/wipro.png" alt="Wipro Technologies" class="company-logo" id="wipro">
            </a>
            <h1>Project Engineer</h1>
            <div class="clients">
                <p>Clients I worked for</p>
                <ul>
                    <a href="https://www.standardbank.co.za" target="_blank">
                        <img loading="lazy" data-src="./assets/images/sbsa.png" alt="Standard Bank" id="sbsa">
                    </a>
                </ul>
            </div>
        </section>
    </div>
</div>


<div id="skills" class="container">
    <h1>My <span class="highlight">Skills</span></h1>
    <div class="wrapper">
        <section>
            <h1>Frontend</h1>
            <div class="horizontal-scroll-m">
                <ul>
                    <li tooltip="80%">
                        <div class="progress-bar" style="width: 80% !important"></div>
                        <img loading="lazy" data-src="./assets/images/skills/angular.png" alt="Angular">
                        <span class="label">Angular</span>
                    </li>
                    <li tooltip="60%">
                        <div class="progress-bar" style="width: 60% !important"></div>
                        <img loading="lazy" data-src="./assets/images/skills/react.png" alt="React">
                        <span class="label">React</span>
                    </li>
                    <li tooltip="70%">
                        <div class="progress-bar" style="width: 70% !important"></div>
                        <img loading="lazy" data-src="./assets/images/skills/js.png" alt="JavaScript">
                        <span class="label">JavaScript ES6</span>
                    </li>
                    <li tooltip="80%">
                        <div class="progress-bar" style="width: 80% !important"></div>
                        <img loading="lazy" data-src="./assets/images/skills/html.png" alt="HTML">
                        <span class="label">HTML 5</span>
                    </li>
                    <li tooltip="80%">
                        <div class="progress-bar" style="width: 80% !important"></div>
                        <img loading="lazy" data-src="./assets/images/skills/css.png" alt="CSS">
                        <span class="label">CSS 3</span>
                    </li>
                    <li tooltip="80%">
                        <div class="progress-bar" style="width: 80% !important"></div>
                        <img loading="lazy" data-src="./assets/images/skills/sass.png" alt="Sass">
                        <span class="label">Sass</span>
                    </li>
                    <li tooltip="70%">
                        <div class="progress-bar" style="width: 70% !important"></div>
                        <img loading="lazy" data-src="./assets/images/skills/bootstrap.png" alt="Bootstrap">
                        <span class="label">Bootstrap 4</span>
                    </li>
                    <li tooltip="50%">
                        <div class="progress-bar" style="width: 50% !important"></div>
                        <img loading="lazy" data-src="./assets/images/skills/photoshop.png" alt="Adobe Photoshop">
                        <span class="label">Photoshop</span>
                    </li>
                </ul>
            </div>
        </section>
        <section>
            <h1>Backend</h1>
            <div class="horizontal-scroll-m">
                <ul>
                    <li tooltip="70%">
                        <div class="progress-bar" style="width: 70% !important"></div>
                        <img loading="lazy" data-src="./assets/images/skills/java.png" alt="Java">
                        <span class="label">Java 8</span>
                    </li>
                    <li tooltip="60%">
                        <div class="progress-bar" style="width: 60% !important"></div>
                        <img loading="lazy" data-src="./assets/images/skills/spring_boot.png" alt="Spring Boot">
                        <span class="label">Spring Boot</span>
                    </li>
                    <li tooltip="70%">
                        <div class="progress-bar" style="width: 70% !important"></div>
                        <img loading="lazy" data-src="./assets/images/skills/spring.png" alt="Spring">
                        <span class="label">Spring Data JPA</span>
                    </li>
                    <li tooltip="70%">
                        <div class="progress-bar" style="width: 70% !important"></div>
                        <img loading="lazy" data-src="./assets/images/skills/rest.png" alt="RESTful WS">
                        <span class="label">RESTful WS</span>
                    </li>
                    <li tooltip="50%">
                        <div class="progress-bar" style="width: 50% !important"></div>
                        <img loading="lazy" data-src="./assets/images/skills/sql.png" alt="SQL">
                        <span class="label">Oracle SQL</span>
                    </li>
                    <li tooltip="50%">
                        <div class="progress-bar" style="width: 50% !important"></div>
                        <img loading="lazy" data-src="./assets/images/skills/maven.png" alt="Maven">
                        <span class="label">Maven</span>
                    </li>
                    <li tooltip="50%">
                        <div class="progress-bar" style="width: 50% !important"></div>
                        <img loading="lazy" data-src="./assets/images/skills/git.png" alt="Git">
                        <span class="label">Git</span>
                    </li>
                    <li tooltip="50%">
                        <div class="progress-bar" style="width: 50% !important"></div>
                        <img loading="lazy" data-src="./assets/images/skills/svn.jpg" alt="SVN">
                        <span class="label">SVN</span>
                    </li>
                </ul>
            </div>
        </section>
    </div>
</div>


<div id="contact" class="container">
    <div class="wrapper">
        <section>
            <h1>Contact Info</h1>
            <ul class="content">
                <li>
                    <a href="mailto:vmounishkumar@gmail.com" target="_blank">
                        <i class="la la-envelope"></i>
                    </a>
                    <span>vmounishkumar@gmail.com</span>
                </li>
                <li>
                    <a href="https://www.mounish.dev" target="_blank">
                        <i class="la la-globe-asia"></i>
                    </a>
                    <span>www.mounish.dev</span>
                </li>
                <li>
                    <a href="tel:+919994444988" target="_blank">
                        <i class="la la-phone"></i>
                    </a>
                    <span>+91 999 4444 988</span>
                </li>
                <li>
                    <a href="https://goo.gl/maps/JLvnPFKH7LFKa5LC7" target="_blank">
                        <i class="la la-map-marker-alt"></i>
                    </a>
                    <span>
                        247, Rice Mill Road<br>
                        Vinayagar Kovil Street 7<br>
                        Moolapalayam, Erode<br>
                        Tamilnadu, India 638002
                    </span>
                </li>
            </ul>
            <ul class="icons">
                <li><a href="" target="_blank"><i class="la la-linkedin"></i></a></li>
                <li><a href="https://api.whatsapp.com/send?phone=+919994444988" target="_blank"><i
                            class="la la-whatsapp"></i></a></li>
                <li><a href="mailto:vmounishkumar@gmail.com" target="_blank"><i class="la la-envelope"></i></a></li>
                <li><a href="https://github.com/Mounish-Kumar" target="_blank"><i class="la la-github"></i></a></li>
            </ul>
        </section>
        <section>
            <h1>Let's Connect</h1>
            <form>
                <label name="name">
                    <span class="label">Name</span>
                    <input type="text" onkeyup="validateField('name')">
                    <span class="field-message error hide"></span>
                </label>
                <label name="email">
                    <span class="label">Email</span>
                    <input type="text" onkeyup="validateField('email')">
                    <span class="field-message error hide"></span>
                </label>
                <label name="mobile">
                    <span class="label">Phone Number</span>
                    <input type="text" onkeyup="validateField('mobile')">
                    <span class="field-message error hide"></span>
                </label>
                <label name="message">
                    <span class="label">Message</span>
                    <textarea onkeyup="validateField('message')"></textarea>
                    <span class="field-message error hide"></span>
                </label>
                <span class="response-message success hide">
                    <i class="la la-check-circle"></i>
                    <span></span>
                </span>
                <span class="response-message error hide">
                    <i class="la la-times-circle"></i>
                    <span></span>
                </span>
                <button name="send-message" class="btn primary" type="button" onclick="sendMessage()">
                    <span>SEND</span>
                    <i class="la la-rocket"></i>
                </button>
                <!-- <button name="send-message" class="btn primary g-recaptcha" type="button" onclick="sendMessage()"
                    data-sitekey="6Lco56IZAAAAAPF2gX710nPTRtwIzPmOqMucfaRB" data-callback='sendMessage' data-action='submit'>
                    <span>SEND</span>
                    <i class="la la-rocket"></i>
                </button> -->
            </form>
        </section>
    </div>
</div>