:root {
  scroll-behavior: smooth;
  --nav-height: 4rem;
  --header-margin-tb: 0.5rem;
  --header-transition-time: 0.5s;
  --page-heading-font-size: 2rem;
  --page-heading-font-weight: 500;
  --page-heading-size: 4rem;
  --container-margin-tb: 3rem;
  --font-family-primary: 'Josefin Sans', sans-serif;
  --font-family-secondary: 'Open Sans', sans-serif;
}

@media (max-width: 767px) {
  :root {
    --header-height: 3rem;
    --header-margin-lr: 1.5rem;
  }
  :root .hide-sm {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  :root {
    --header-height: 4rem;
    --header-margin-lr: 3rem;
  }
  :root .hide-md {
    display: none;
  }
}

@media (min-width: 1025px) {
  :root {
    --header-height: 4rem;
    --header-margin-lr: 4.5rem;
  }
  :root .hide-lg {
    display: none;
  }
}

@media (min-width: 1280px) {
  :root {
    --header-margin-lr: 8rem;
  }
  :root .hide-xl {
    display: none;
  }
}

@media (max-width: 767px) {
  #about section ul li {
    -webkit-box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02), 0 6.7px 5.3px rgba(0, 0, 0, 0.028), 0 12.5px 10px rgba(0, 0, 0, 0.035), 0 22.3px 17.9px rgba(0, 0, 0, 0.042), 0 41.8px 33.4px rgba(0, 0, 0, 0.05), 0 100px 80px rgba(0, 0, 0, 0.07);
            box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02), 0 6.7px 5.3px rgba(0, 0, 0, 0.028), 0 12.5px 10px rgba(0, 0, 0, 0.035), 0 22.3px 17.9px rgba(0, 0, 0, 0.042), 0 41.8px 33.4px rgba(0, 0, 0, 0.05), 0 100px 80px rgba(0, 0, 0, 0.07);
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  #about section ul li {
    -webkit-box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02), 0 6.7px 5.3px rgba(0, 0, 0, 0.028), 0 12.5px 10px rgba(0, 0, 0, 0.035), 0 22.3px 17.9px rgba(0, 0, 0, 0.042), 0 41.8px 33.4px rgba(0, 0, 0, 0.05), 0 100px 80px rgba(0, 0, 0, 0.07);
            box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02), 0 6.7px 5.3px rgba(0, 0, 0, 0.028), 0 12.5px 10px rgba(0, 0, 0, 0.035), 0 22.3px 17.9px rgba(0, 0, 0, 0.042), 0 41.8px 33.4px rgba(0, 0, 0, 0.05), 0 100px 80px rgba(0, 0, 0, 0.07);
  }
}

@media (min-width: 1025px) {
  #about section ul li {
    -webkit-box-shadow: 0 2.8px 2.2px -20px rgba(0, 0, 0, 0.02), 0 6.7px 5.3px -20px rgba(0, 0, 0, 0.028), 0 12.5px 10px -20px rgba(0, 0, 0, 0.035), 0 22.3px 17.9px -20px rgba(0, 0, 0, 0.042), 0 41.8px 33.4px -20px rgba(0, 0, 0, 0.05), 0 100px 80px -20px rgba(0, 0, 0, 0.07);
            box-shadow: 0 2.8px 2.2px -20px rgba(0, 0, 0, 0.02), 0 6.7px 5.3px -20px rgba(0, 0, 0, 0.028), 0 12.5px 10px -20px rgba(0, 0, 0, 0.035), 0 22.3px 17.9px -20px rgba(0, 0, 0, 0.042), 0 41.8px 33.4px -20px rgba(0, 0, 0, 0.05), 0 100px 80px -20px rgba(0, 0, 0, 0.07);
    -webkit-transition: -webkit-box-shadow 0.2s ease-in;
    transition: -webkit-box-shadow 0.2s ease-in;
    transition: box-shadow 0.2s ease-in;
    transition: box-shadow 0.2s ease-in, -webkit-box-shadow 0.2s ease-in;
  }
  #about section ul li:hover {
    -webkit-box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
            box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
  }
}

#about {
  position: relative;
  grid-gap: 2rem;
      grid-template-areas: "content";
}

@media (max-width: 767px) {
  #about {
    -ms-grid-rows: 100%;
        grid-template-rows: 100%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  #about {
    -ms-grid-rows: 100%;
        grid-template-rows: 100%;
  }
}

@media (min-width: 1025px) {
  #about {
    -ms-grid-columns: 55%;
        grid-template-columns: 55%;
  }
}

@media (min-width: 768px) {
  #about {
    padding-left: var(--header-margin-lr);
    padding-right: var(--header-margin-lr);
  }
}

#about::after {
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left bottom, right top, from(color(brand)), color-stop(rgba(255, 23, 68, 0.9)), to(rgba(255, 136, 0, 0.7)));
  background-image: linear-gradient(to top right, color(brand), rgba(255, 23, 68, 0.9), rgba(255, 136, 0, 0.7));
  z-index: 0;
}

@media (min-width: 1025px) {
  #about::after {
    background-image: -webkit-gradient(linear, left bottom, right top, from(color(brand)), color-stop(rgba(255, 23, 68, 0.8)), to(rgba(255, 136, 0, 0.6)));
    background-image: linear-gradient(to top right, color(brand), rgba(255, 23, 68, 0.8), rgba(255, 136, 0, 0.6));
  }
}

#about img {
  grid-area: image;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#about section {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: content;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: var(--page-heading-size) max-content max-content;
      grid-template-rows: var(--page-heading-size) -webkit-max-content -webkit-max-content;
      grid-template-rows: var(--page-heading-size) max-content max-content;
  color: #fff;
  z-index: 2;
}

#about section h1 {
  font-size: var(--page-heading-font-size);
  font-weight: var(--page-heading-font-weight);
}

@media (max-width: 767px) {
  #about section h1 {
    padding: 0 var(--header-margin-lr);
  }
}

#about section p {
  font-family: var(--font-family-secondary);
  font-size: 0.95rem;
  line-height: 2;
}

@media (max-width: 767px) {
  #about section p {
    padding: 0 var(--header-margin-lr);
  }
}

#about section p .highlight {
  font-family: var(--font-family-secondary);
  font-size: 1rem;
  font-weight: 600;
  color: #ffff00;
}

#about section ul {
  display: -ms-grid;
  display: grid;
  grid-gap: 1rem;
  margin-top: 2rem;
}

@media (max-width: 767px) {
  #about section ul {
    -ms-grid-columns: (14rem)[4];
        grid-template-columns: repeat(4, 14rem);
  }
}

@media (max-width: 767px) and (max-width: 767px) and (min-height: 800px) {
  #about section ul {
    -ms-grid-columns: (14rem)[2];
        grid-template-columns: repeat(2, 14rem);
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  #about section ul {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1025px) {
  #about section ul {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

#about section ul li {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  border-radius: 8px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
}

@media (max-width: 767px) {
  #about section ul li {
    --icon-font-size: 2rem;
    -ms-grid-columns: var(--icon-font-size) auto;
        grid-template-columns: var(--icon-font-size) auto;
    grid-gap: 1.5rem;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  #about section ul li {
    --icon-font-size: 2.5rem;
    text-align: center;
    grid-gap: 1rem;
  }
}

@media (min-width: 1025px) {
  #about section ul li {
    --icon-font-size: 2.5rem;
    -ms-grid-columns: var(--icon-font-size) auto;
        grid-template-columns: var(--icon-font-size) auto;
    grid-gap: 1.5rem;
  }
}

#about section ul li i.fa {
  font-size: var(--icon-font-size);
  color: color(brand);
}
/*# sourceMappingURL=about.css.map */