@mixin mobile {
    @media (max-width: 767px) {
        @content;
    }
}

@mixin mobile-long {
    @media (max-width: 767px) and (min-height: 800px) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: 768px) and (max-width: 1024px) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: 1025px) {
        @content;
    }
}

@mixin tablet-desktop {
    @media (min-width: 768px) {
        @content;
    }
}

@mixin wide-screen {
    @media (min-width: 1280px) {
        @content;
    }
}


:root {
    scroll-behavior: smooth;
    --nav-height: 4rem;
    --header-margin-tb: 0.25rem;
    --header-transition-time: 0.5s;
    --page-heading-font-size: 2rem;
    --page-heading-size: 4rem;
    --container-margin-tb: 3rem;

    @include mobile {
        --header-height: 3rem;
        --header-margin-lr: 1.5rem;

        .hide-sm {
            display: none;
        }
    }

    @include tablet {
        --header-height: 4rem;
        --header-margin-lr: 3rem;

        .hide-md {
            display: none;
        }
    }

    @include desktop {
        --header-height: 4rem;
        --header-margin-lr: 4.5rem;

        .hide-lg {
            display: none;
        }
    }

    @include wide-screen {
        --header-margin-lr: 8rem;

        .hide-xl {
            display: none;
        }
    }
}


// When there is only 1 row
@mixin horizontal-scroll($content) {
    display: grid;
    grid-template-columns: 0.1px $content 0.1px;
    grid-gap: var(--header-margin-lr);
    overflow-x: scroll;

    &::before, &::after {
        content: '';
    }

    &::-webkit-scrollbar {
        display: none;
    }
}