#contact {
    padding: 0 !important;

    .wrapper {
        display: grid;

        @include mobile {
            grid-template-rows: repeat(2, auto);
            width: 100vw;
        }
    
        @include tablet-desktop {
            grid-template-columns: repeat(2, 50%);
        }

        section {
            display: grid;
            padding: var(--container-margin-tb) var(--header-margin-lr);

            h1 {
                font-size: var(--page-heading-font-size);
                font-weight: var(--page-heading-font-weight);
            }

            &:first-child {
                $icons-shadow: 3px 3px 11px rgba(#000, 0.5);
                grid-template-rows: var(--page-heading-size) auto auto;
                position: relative;
                background-image: url(/assets/images/contact.jpg);
                background-attachment: fixed;
                
                @include mobile {
                    background-size: contain;
                }

                @include tablet-desktop {
                    background-size: 50% auto;
                }

                @include wide-screen {
                    padding-right: calc(var(--header-margin-lr) / 2);
                }

                &:after {
                    content: " ";
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background-image: linear-gradient(to top right, color(brand), rgba(color(brand), 0.9), rgba(color(brand-secondary), 0.9));
                }
        
                h1 {
                    color: color(text-inverse);
                    z-index: 1;
                }
        
                ul {
                    z-index: 1;

                    &.content {
                        display: grid;
                        grid-template-rows: auto;
                        align-items: center;
                        grid-gap: 2rem;
        
                        li {
                            display: grid;
                            grid-template-columns: max-content auto;
                            grid-gap: 1rem;
                            align-items: center;

                            @include desktop {
                                &:hover {
                                    i {
                                        transform: scale(1.3);
                                        text-shadow: $icons-shadow;
                                    }
                                }
                            }
        
                            i {
                                opacity: 0.7;
                            }
        
                            span {
                                font-family: var(--font-family-secondary);
                                color: color(text-inverse);

                                @include mobile {
                                    font-size: 0.95rem;
                                }

                                @include desktop {
                                    font-size: 1.2rem;
                                }
                            }
                        }
                    }
        
                    &.icons {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        width: 16rem;
                        margin-top: 2rem;
                    }

                    i {
                        font-size: 2.5rem;
                        color: color(text-inverse);
                        transition: transform 0.2s ease-in, text-shadow 0.2s ease-in;

                        @include desktop {
                            &:hover {
                                transform: scale(1.3);
                                text-shadow: $icons-shadow;
                            }
                        }
                    }
                }
            }

            &:last-child {
                grid-template-rows: var(--page-heading-size) auto;
                background-color: color(card);

                @include mobile {
                    margin-bottom: var(--nav-height);
                }

                @include wide-screen {
                    padding-left: calc(var(--header-margin-lr) / 2);
                }

                form {
                    $font-size: 1.25rem;
                    $padding: 0.5rem;
                    $text-box-height: $padding + $font-size + $padding;
                    $border-radius: 5px;
                    display: grid;
                    height: 100%;
                    grid-row-gap: 1rem;

                    label {
                        &.error {
                            span.label, input[type="text"], textarea {
                                background-color: rgba(#ff4444, 0.5);
                            }
                        }
                        
                        span {
                            font-size: 0.75rem;
                            padding: calc(#{$padding} / 2) $padding;
    
                            &.label {
                                display: block;
                                width: 100%;
                                font-family: var(--font-family-secondary);
                                border-top-left-radius: $border-radius;
                                border-top-right-radius: $border-radius;
                                padding-bottom: 0;
                                background-color: color(input-bg);
                            }
    
                            &.field-message {
                                display: block;
                                font-family: var(--font-family-secondary);
    
                                &.error {
                                    color: #ff4444;
                                }
                            }
                        }

                        input[type="text"], textarea {
                            width: 100%;
                            font-family: var(--font-family-secondary);
                            font-size: $font-size;
                            padding: $padding;
                            border: none;
                            border-bottom-left-radius: $border-radius;
                            border-bottom-right-radius: $border-radius;
                            outline: none;
                            color: color(text);
                            background-color: color(input-bg);
                        }
    
                        input[type="text"] {
                            height: $text-box-height;
                        }
    
                        textarea {
                            display: block;
                            resize: none;
                            min-height: calc(#{$text-box-height} + (2 * #{$font-size}));
                            max-height: calc(#{$text-box-height} + (7 * #{$font-size}));
                        }
                    }

                    .response-message {
                        display: grid;
                        grid-template-columns: max-content auto;
                        align-items: center;
                        border-radius: $border-radius;
                        color: #fff;

                        &.success {
                            background-color: #00C851;
                        }
    
                        &.error {
                            background-color: #ff4444;
                        }

                        i {
                            font-size: 2rem;
                            padding: $padding;
                        }

                        span {
                            font-family: var(--font-family-secondary);
                            font-size: 0.9rem;
                            padding: $padding $padding $padding 0;
                        }
                    }

                    .btn {
                        border-radius: 30px;
                        max-width: 10rem;
                    }
                }
            }
        }
    }
}