#home {
    --home-grid-gap: 1rem;
    padding-top: var(--header-height);

    @include mobile-long {
        --home-grid-gap: 2rem;
    }

    min-height: auto;
    grid-gap: var(--home-grid-gap);
    padding-left: var(--header-margin-lr);
    padding-right: var(--header-margin-lr);
    background-color: rgba(#fff, 0.95);
    overflow: hidden;

    @include mobile {
        grid-template-rows: auto auto;
        grid-template-areas: "home-title" "home-image";
        align-items: center;
        text-align: center;
        padding-bottom: 0;
    }

    @include tablet-desktop {
        grid-template-columns: auto max-content;
        grid-template-areas: "home-image home-title";
    }

    img.background {
        position: fixed;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }
    
    picture {
        @include tablet-desktop {
            display: flex;
        }
        
        img.primary {
            grid-area: home-image;

            @include mobile {
                margin-bottom: -8px;
                margin-left: 50%;
                transform: translateX(-50%);
                max-width: 100%;
                max-height: 100%;
                z-index: 1;
            }

            @include mobile-long {
                max-width: 125%;
            }

            @include tablet-desktop {
                margin-top: auto;
                margin-bottom: calc(0px - var(--container-margin-tb));
                max-width: 100%;
                max-height: calc(100% + var(--container-margin-tb));
            }
        }
    }
    
    .content {
        grid-area: home-title;
        
        @include mobile {
            align-items: center;
            margin-top: calc(1.5 * var(--home-grid-gap));
        }

        @include tablet-desktop {
            text-align: right;
            padding: calc(2 * var(--container-margin-tb)) 0;
        }

        h2 {
            font-size: 1.5rem;
            font-weight: 500;
            letter-spacing: 0;
            line-height: 1;

            @include mobile {
                font-size: 1rem;
            }

            .highlight {
                letter-spacing: 0;
                line-height: 1;
            }
        }

        h1 {
            font-size: 2.5rem;
            margin-top: 0.75rem;
            font-weight: 600;
            letter-spacing: 0;

            @include mobile {
                font-size: 2rem;
                margin-top: 0.5rem;
                line-height: 1.15;
            }

            @include tablet-desktop {
                line-height: 1.25;
            }

            @media (min-width: 975px) {
                br {
                    display: none;
                }
            }
        }

        h3 {
            margin-top: 1.5rem;
            font-family: var(--font-family-secondary);
            font-size: 1.25rem;
            font-weight: 400;
            line-height: 1;
            color: #9e9e9e;

            @include mobile {
                display: none;
            }
        }

        .action {
            display: grid;
            grid-gap: 0.5rem;
            text-align: center;

            @include mobile {
                grid-template-columns: repeat(2, 125px);
                position: absolute;
                bottom: calc(var(--nav-height) + 2rem);
                left: 50%;
                transform: translateX(-50%);
                z-index: 1;
            }

            @include tablet-desktop {
                grid-template-columns: repeat(2, 140px);
                justify-content: right;
                margin-top: 3rem;
            }

            .btn {
                @include mobile {
                    padding: 0.5rem 1rem;
                }
            }
        }
    }
}