#home {
    $content-height: 25%;
    display: block;
    position: relative;
    padding: var(--header-height) var(--header-margin-lr) 0 var(--header-margin-lr);
    background: color(home-bg);
    overflow: hidden;

    @include mobile {
        height: 100vh;
    }

    @include tablet-desktop {
        height: 32rem;
    }

    &:before {
        content: " ";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(/assets/images/home.jpg);
        background-attachment: fixed !important;
        background-size: cover !important;
        z-index: -1;
        animation: zoomInOut 20s linear infinite;
    }

    @keyframes zoomInOut {
        50% {
            transform: scale(1.5);
        }
        100% {
            transform: scale(1);
        }
    }
    
    img {
        position: absolute;
        bottom: 0;

        @include mobile {
            left: 50%;
            transform: translateX(-50%);
            height: calc(100% - #{$content-height} - var(--header-height));
        }

        @include tablet-desktop {
            left: var(--header-margin-lr);
            height: calc(100% - var(--header-height));
        }
    }
    
    .content {
        position: absolute;
        display: grid;
        align-content: center;

        @include mobile {
            top: var(--header-height);
            left: 0;
            width: 100%;
            height: $content-height;
            text-align: center;
        }

        @include tablet-desktop {
            position: absolute;
            bottom: 0;
            right: var(--header-margin-lr);
            height: 100%;
            text-align: right;
        }

        h2 {
            font-weight: 500;
            letter-spacing: 0;
            line-height: 2;

            @include mobile {
                font-size: 1.25rem;
            }

            @include mobile-long {
                font-size: 1.5rem;
            }

            @include tablet-desktop {
                font-size: 1.5rem;
            }

            .highlight {
                letter-spacing: 0;
            }
        }

        h1 {
            font-weight: 600;
            letter-spacing: 0;

            @include mobile {
                font-size: 2.25rem;
                line-height: 1.1;
            }

            @include mobile-long {
                font-size: 2.5rem;
            }

            @include tablet-desktop {
                font-size: 2.5rem;
                line-height: 1.2;
            }

            @media (min-width: 975px) {
                br {
                    display: none;
                }
            }
        }

        h3 {
            margin-top: 1.5rem;
            font-family: var(--font-family-secondary);
            font-size: 1.25rem;
            font-weight: 400;
            line-height: 1;
            color: color(text-secondary);

            @include mobile {
                display: none;
            }
        }

        .action {
            display: grid;
            grid-gap: 0.5rem;
            text-align: center;

            @include mobile {
                grid-template-columns: repeat(2, 125px);
                position: absolute;
                top: 0;
                width: 100%;
                height: calc(100vh - var(--header-height) - var(--nav-height) - 2rem);
                justify-content: center;
                align-items: end;
            }

            @include tablet-desktop {
                grid-template-columns: repeat(2, 140px);
                justify-content: right;
                margin-top: 3rem;
            }

            .btn {
                @include mobile {
                    padding: 0.5rem 1rem;
                }
            }
        }
    }
}