@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
:root {
  scroll-behavior: smooth;
  --nav-height: 4rem;
  --header-margin-tb: 0.5rem;
  --header-transition-time: 0.5s;
  --page-heading-font-size: 2rem;
  --page-heading-font-weight: 500;
  --page-heading-size: 4rem;
  --container-margin-tb: 3rem;
  --font-family-primary: 'Josefin Sans', sans-serif;
  --font-family-secondary: 'Open Sans', sans-serif;
}

@media (max-width: 767px) {
  :root {
    --header-height: 3rem;
    --header-margin-lr: 1.5rem;
  }
  :root .hide-sm {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  :root {
    --header-height: 4rem;
    --header-margin-lr: 3rem;
  }
  :root .hide-md {
    display: none;
  }
}

@media (min-width: 1025px) {
  :root {
    --header-height: 4rem;
    --header-margin-lr: 4.5rem;
  }
  :root .hide-lg {
    display: none;
  }
}

@media (min-width: 1280px) {
  :root {
    --header-margin-lr: 8rem;
  }
  :root .hide-xl {
    display: none;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: var(--font-family-primary);
  letter-spacing: 0.5px;
  line-height: 1.5;
  word-break: break-word;
  list-style: none;
}

body {
  font-size: 1rem;
  color: #212121;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  overflow-x: hidden;
  overflow-y: scroll;
}

.container {
  display: -ms-grid;
  display: grid;
  min-height: -webkit-max-content;
  min-height: -moz-max-content;
  min-height: max-content;
  padding: var(--container-margin-tb) 0;
  background-blend-mode: overlay;
  background-size: cover !important;
  background-position: center !important;
  scroll-snap-align: start !important;
  scroll-margin-top: var(--header-height);
}

@media (min-width: 768px) {
  .container {
    scroll-margin-top: calc(var(--header-height) - 1rem);
  }
}

.container > h1 {
  font-size: var(--page-heading-font-size);
  font-weight: var(--page-heading-font-weight);
  padding: 0 var(--header-margin-lr);
}

@media (min-width: 768px) {
  .container > h1 {
    text-align: center;
  }
}

a {
  text-decoration: none;
}

.hide {
  display: none !important;
}

.highlight {
  color: var(--brand-color);
}

[tooltip] {
  position: relative;
}

[tooltip]:before {
  content: attr(tooltip);
  position: absolute;
  top: calc(0rem - 0.8rem - 2 * 0.2rem - 12px);
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 0.8rem;
  white-space: nowrap;
  padding: 0.2rem 0.4rem;
  border-radius: 4px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.8);
}

[tooltip]:after {
  content: " ";
  position: absolute;
  top: -6px;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.8) transparent transparent transparent;
}

[tooltip]:before, [tooltip]:after {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

@media (min-width: 768px) {
  [tooltip]:hover:before, [tooltip]:hover:after {
    opacity: 1;
    visibility: visible;
  }
}

@media (max-width: 767px) {
  .horizontal-scroll-m {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: var(--header-margin-lr) auto var(--header-margin-lr);
        grid-template-columns: var(--header-margin-lr) auto var(--header-margin-lr);
    overflow-x: scroll;
    padding-bottom: 180px;
    margin-bottom: -180px;
  }
  .horizontal-scroll-m::before, .horizontal-scroll-m::after {
    content: '';
  }
  .horizontal-scroll-m::-webkit-scrollbar {
    display: none;
  }
}

.btn {
  font-size: 1rem;
  font-weight: 500;
  padding: 0.6rem 1.6rem;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
  color: var(--brand-color);
  background-image: linear-gradient(45deg, #fff, #fff, #eee, #fff, #fff);
  background-size: 225%;
  background-position: right;
  -webkit-transition: background-position 0.4s ease-out;
  transition: background-position 0.4s ease-out;
}

@media (min-width: 1025px) {
  .btn:hover {
    background-position: left;
  }
}

.btn:disabled {
  cursor: default;
}

.btn.primary {
  color: #fff;
  background-image: linear-gradient(45deg, var(--brand-color), var(--brand-color), #ff8800, var(--brand-color), var(--brand-color));
}

[name="send-message"] {
  position: relative;
  padding: 0.8rem 2rem;
  background-color: var(--brand-color);
  -webkit-transition: background-position 0.4s ease-out, background-color 0.3s ease, -webkit-box-shadow 0.3s ease;
  transition: background-position 0.4s ease-out, background-color 0.3s ease, -webkit-box-shadow 0.3s ease;
  transition: background-position 0.4s ease-out, background-color 0.3s ease, box-shadow 0.3s ease;
  transition: background-position 0.4s ease-out, background-color 0.3s ease, box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
}

@media (min-width: 1025px) {
  [name="send-message"]:hover i {
    -webkit-transform: translateY(-50%) rotateZ(-45deg);
            transform: translateY(-50%) rotateZ(-45deg);
  }
}

[name="send-message"] i {
  position: absolute;
  right: 0.75rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 2rem;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

[name="send-message"].sending {
  background-image: none !important;
  background-color: #ff8800;
  -webkit-box-shadow: 0px 16px 16px -6px #ffd54f;
          box-shadow: 0px 16px 16px -6px #ffd54f;
}

[name="send-message"].sending i {
  -webkit-transform: translateY(-50%) rotateZ(-45deg);
          transform: translateY(-50%) rotateZ(-45deg);
  -webkit-animation: shake 0.3s ease 0.5s infinite;
          animation: shake 0.3s ease 0.5s infinite;
}

@-webkit-keyframes shake {
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translateY(-50%) translate3d(-1.2px, 0, 0) rotateZ(-45deg);
            transform: translateY(-50%) translate3d(-1.2px, 0, 0) rotateZ(-45deg);
  }
  20%, 40%, 60%, 80% {
    -webkit-transform: translateY(-50%) translate3d(1.2px, 0, 0) rotateZ(-45deg);
            transform: translateY(-50%) translate3d(1.2px, 0, 0) rotateZ(-45deg);
  }
}

@keyframes shake {
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translateY(-50%) translate3d(-1.2px, 0, 0) rotateZ(-45deg);
            transform: translateY(-50%) translate3d(-1.2px, 0, 0) rotateZ(-45deg);
  }
  20%, 40%, 60%, 80% {
    -webkit-transform: translateY(-50%) translate3d(1.2px, 0, 0) rotateZ(-45deg);
            transform: translateY(-50%) translate3d(1.2px, 0, 0) rotateZ(-45deg);
  }
}

[name="send-message"].sent {
  background-image: none !important;
  background-color: #00C851;
  -webkit-box-shadow: 0px 16px 16px -6px #69f0ae;
          box-shadow: 0px 16px 16px -6px #69f0ae;
}

[name="send-message"].sent i {
  -webkit-transform: translateY(-50%) rotateZ(-45deg);
          transform: translateY(-50%) rotateZ(-45deg);
  -webkit-animation: moveUp 1s ease 0s forwards;
          animation: moveUp 1s ease 0s forwards;
}

@-webkit-keyframes moveUp {
  0% {
    margin-top: 0;
    -webkit-transform: translateY(-50%) scale(1) rotateZ(-45deg);
            transform: translateY(-50%) scale(1) rotateZ(-45deg);
  }
  100% {
    color: #00C851;
    margin-top: -100px;
    -webkit-transform: translateY(-50%) scale(0) rotateZ(-45deg);
            transform: translateY(-50%) scale(0) rotateZ(-45deg);
  }
}

@keyframes moveUp {
  0% {
    margin-top: 0;
    -webkit-transform: translateY(-50%) scale(1) rotateZ(-45deg);
            transform: translateY(-50%) scale(1) rotateZ(-45deg);
  }
  100% {
    color: #00C851;
    margin-top: -100px;
    -webkit-transform: translateY(-50%) scale(0) rotateZ(-45deg);
            transform: translateY(-50%) scale(0) rotateZ(-45deg);
  }
}

[name="send-message"].failed {
  background-image: none !important;
  background-color: #ff0000;
  -webkit-box-shadow: 0px 16px 16px -6px #ff9e9f;
          box-shadow: 0px 16px 16px -6px #ff9e9f;
}

[name="send-message"].failed i {
  -webkit-transform: translateY(-50%) rotateZ(-45deg);
          transform: translateY(-50%) rotateZ(-45deg);
  -webkit-animation: moveDown 1s ease 0s forwards;
          animation: moveDown 1s ease 0s forwards;
}

@-webkit-keyframes moveDown {
  0% {
    margin-top: 0;
    -webkit-transform: translateY(-50%) scale(1) rotateZ(-45deg);
            transform: translateY(-50%) scale(1) rotateZ(-45deg);
  }
  100% {
    color: #ff0000;
    margin-top: var(--container-margin-tb);
    -webkit-transform: translateY(-50%) scale(0) rotateZ(-45deg);
            transform: translateY(-50%) scale(0) rotateZ(-45deg);
  }
}

@keyframes moveDown {
  0% {
    margin-top: 0;
    -webkit-transform: translateY(-50%) scale(1) rotateZ(-45deg);
            transform: translateY(-50%) scale(1) rotateZ(-45deg);
  }
  100% {
    color: #ff0000;
    margin-top: var(--container-margin-tb);
    -webkit-transform: translateY(-50%) scale(0) rotateZ(-45deg);
            transform: translateY(-50%) scale(0) rotateZ(-45deg);
  }
}

[data-tilt] {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: perspective(1000px);
          transform: perspective(1000px);
}

.btn, #about section ul li, #skills .wrapper section ul li {
  -webkit-box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02), 0 6.7px 5.3px rgba(0, 0, 0, 0.028), 0 12.5px 10px rgba(0, 0, 0, 0.035), 0 22.3px 17.9px rgba(0, 0, 0, 0.042), 0 41.8px 33.4px rgba(0, 0, 0, 0.05), 0 100px 80px rgba(0, 0, 0, 0.07);
          box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02), 0 6.7px 5.3px rgba(0, 0, 0, 0.028), 0 12.5px 10px rgba(0, 0, 0, 0.035), 0 22.3px 17.9px rgba(0, 0, 0, 0.042), 0 41.8px 33.4px rgba(0, 0, 0, 0.05), 0 100px 80px rgba(0, 0, 0, 0.07);
}

#work .wrapper section {
  -webkit-box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
          box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
}

#header {
  --logo-height: calc(var(--header-height) - 2 * var(--header-margin-tb));
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  top: 0;
  left: 0;
  width: 100vw;
  margin: 0;
  padding: var(--header-margin-tb) var(--header-margin-lr);
  background-color: transparent;
  z-index: 100;
  -webkit-transition: background-color var(--header-transition-time), -webkit-box-shadow var(--header-transition-time);
  transition: background-color var(--header-transition-time), -webkit-box-shadow var(--header-transition-time);
  transition: box-shadow var(--header-transition-time), background-color var(--header-transition-time);
  transition: box-shadow var(--header-transition-time), background-color var(--header-transition-time), -webkit-box-shadow var(--header-transition-time);
}

@media (max-width: 767px) {
  #header {
    height: var(--header-height);
    background-color: #fff;
    -webkit-box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
            box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  }
}

#header.scrolled {
  background-color: white;
  -webkit-box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
          box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
}

@media (min-width: 768px) {
  #header.scrolled img.logo {
    height: calc(var(--logo-height) - 1rem);
  }
  #header.scrolled nav ul li a .label {
    font-size: 1.125rem;
  }
  #header.scrolled .options li i {
    font-size: 2rem;
  }
}

#header > a {
  line-height: 0;
}

#header > a img.logo {
  height: var(--logo-height);
  -webkit-transition: height var(--header-transition-time);
  transition: height var(--header-transition-time);
}

@media (max-width: 767px) {
  #header nav {
    position: fixed;
    bottom: -1px;
    left: 0;
    width: 100vw;
    background-color: #fff;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
  }
}

@media (min-width: 768px) {
  #header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

#header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  #header nav ul {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: var(--nav-height);
  }
}

@media (min-width: 768px) {
  #header nav ul {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

#header nav ul li {
  text-align: center;
}

@media (min-width: 768px) {
  #header nav ul li:not(:first-of-type) {
    padding-left: 2rem;
  }
}

#header nav ul li a {
  color: #212121;
  text-decoration: none;
}

@media (min-width: 1025px) {
  #header nav ul li a:hover i, #header nav ul li a:hover .label {
    color: var(--brand-color);
  }
}

#header nav ul li a.active i, #header nav ul li a.active .label {
  font-weight: 700;
  color: var(--brand-color);
}

@media (max-width: 767px) {
  #header nav ul li a i {
    font-size: 2.3rem;
    line-height: 0.75;
  }
}

@media (min-width: 768px) {
  #header nav ul li a i {
    display: none;
  }
}

#header nav ul li a .label {
  font-family: var(--font-family-secondary);
}

@media (max-width: 767px) {
  #header nav ul li a .label {
    font-size: 0.85rem;
    line-height: 0.75;
  }
}

@media (min-width: 768px) {
  #header nav ul li a .label {
    font-size: 1.25rem;
    -webkit-transition: font-size var(--header-transition-time);
    transition: font-size var(--header-transition-time);
  }
}

#header .options {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (max-content)[2];
      grid-template-columns: repeat(2, -webkit-max-content);
      grid-template-columns: repeat(2, max-content);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 1rem;
}

#header .options li {
  line-height: 1;
}

#header .options li i {
  -webkit-transition: font-size var(--header-transition-time);
  transition: font-size var(--header-transition-time);
}

@media (max-width: 767px) {
  #header .options li i {
    font-size: 2rem;
  }
}

@media (min-width: 768px) {
  #header .options li i {
    font-size: 2.5rem;
  }
}

#home {
  display: block;
  position: relative;
  padding: var(--header-height) var(--header-margin-lr) 0 var(--header-margin-lr);
  background-color: rgba(255, 255, 255, 0.85);
  overflow: hidden;
}

@media (max-width: 767px) {
  #home {
    height: 100vh;
  }
}

@media (min-width: 768px) {
  #home {
    height: 32rem;
  }
}

#home:before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(/assets/images/home.jpg);
  background-attachment: fixed !important;
  background-size: cover !important;
  z-index: -1;
  -webkit-animation: zoomInOut 20s linear infinite;
          animation: zoomInOut 20s linear infinite;
}

@-webkit-keyframes zoomInOut {
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes zoomInOut {
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

#home img {
  position: absolute;
  bottom: 0;
}

@media (max-width: 767px) {
  #home img {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    height: calc(100% - 25% - var(--header-height));
  }
}

@media (min-width: 768px) {
  #home img {
    left: var(--header-margin-lr);
    height: calc(100% - var(--header-height));
  }
}

#home .content {
  position: absolute;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
}

@media (max-width: 767px) {
  #home .content {
    top: var(--header-height);
    left: 0;
    width: 100%;
    height: 25%;
    text-align: center;
  }
}

@media (min-width: 768px) {
  #home .content {
    position: absolute;
    bottom: 0;
    right: var(--header-margin-lr);
    height: 100%;
    text-align: right;
  }
}

#home .content h2 {
  font-weight: 500;
  letter-spacing: 0;
  line-height: 2;
}

@media (max-width: 767px) {
  #home .content h2 {
    font-size: 1.25rem;
  }
}

@media (min-width: 768px) {
  #home .content h2 {
    font-size: 1.5rem;
  }
}

#home .content h2 .highlight {
  letter-spacing: 0;
}

#home .content h1 {
  font-weight: 600;
  letter-spacing: 0;
}

@media (max-width: 767px) {
  #home .content h1 {
    font-size: 2.25rem;
    line-height: 1.1;
  }
}

@media (min-width: 768px) {
  #home .content h1 {
    font-size: 2.5rem;
    line-height: 1.2;
  }
}

@media (min-width: 975px) {
  #home .content h1 br {
    display: none;
  }
}

#home .content h3 {
  margin-top: 1.5rem;
  font-family: var(--font-family-secondary);
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1;
  color: #9e9e9e;
}

@media (max-width: 767px) {
  #home .content h3 {
    display: none;
  }
}

#home .content .action {
  display: -ms-grid;
  display: grid;
  grid-gap: 0.5rem;
  text-align: center;
}

@media (max-width: 767px) {
  #home .content .action {
    -ms-grid-columns: (125px)[2];
        grid-template-columns: repeat(2, 125px);
    position: absolute;
    top: 0;
    width: 100%;
    height: calc(100vh - var(--header-height) - var(--nav-height) - 2rem);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
  }
}

@media (min-width: 768px) {
  #home .content .action {
    -ms-grid-columns: (140px)[2];
        grid-template-columns: repeat(2, 140px);
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
    margin-top: 3rem;
  }
}

@media (max-width: 767px) {
  #home .content .action .btn {
    padding: 0.5rem 1rem;
  }
}

#about {
  position: relative;
  grid-gap: 2rem;
      grid-template-areas: "content";
  background-image: url(/assets/images/about.jpg);
}

@media (max-width: 767px) {
  #about {
    -ms-grid-rows: 100%;
        grid-template-rows: 100%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  #about {
    -ms-grid-rows: 100%;
        grid-template-rows: 100%;
  }
}

@media (min-width: 1025px) {
  #about {
    -ms-grid-columns: 55%;
        grid-template-columns: 55%;
  }
}

@media (min-width: 768px) {
  #about {
    padding-left: var(--header-margin-lr);
    padding-right: var(--header-margin-lr);
  }
}

#about:after {
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left bottom, right top, from(var(--brand-color)), color-stop(rgba(255, 23, 68, 0.8)), to(rgba(255, 136, 0, 0.7)));
  background-image: linear-gradient(to top right, var(--brand-color), rgba(255, 23, 68, 0.8), rgba(255, 136, 0, 0.7));
}

#about section {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: content;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: var(--page-heading-size) max-content max-content;
      grid-template-rows: var(--page-heading-size) -webkit-max-content -webkit-max-content;
      grid-template-rows: var(--page-heading-size) max-content max-content;
  color: #fff;
  z-index: 1;
}

#about section h1 {
  font-size: var(--page-heading-font-size);
  font-weight: var(--page-heading-font-weight);
}

@media (max-width: 767px) {
  #about section h1 {
    padding: 0 var(--header-margin-lr);
  }
}

#about section p {
  font-family: var(--font-family-secondary);
  font-size: 0.95rem;
  line-height: 2;
}

@media (max-width: 767px) {
  #about section p {
    padding: 0 var(--header-margin-lr);
  }
}

#about section p .highlight {
  font-family: var(--font-family-secondary);
  font-size: 1rem;
  font-weight: 600;
  color: #ffff00;
}

#about section ul {
  display: -ms-grid;
  display: grid;
  grid-gap: 1rem;
  margin-top: 2rem;
}

@media (max-width: 767px) {
  #about section ul {
    -ms-grid-columns: (14rem)[4];
        grid-template-columns: repeat(4, 14rem);
  }
}

@media (max-width: 767px) and (max-width: 767px) and (min-height: 800px) {
  #about section ul {
    -ms-grid-columns: (14rem)[2];
        grid-template-columns: repeat(2, 14rem);
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  #about section ul {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1025px) {
  #about section ul {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

#about section ul li {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  border-radius: 8px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: -webkit-transform 0.2s ease-in;
  transition: -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
  transition: transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
}

@media (max-width: 767px) {
  #about section ul li {
    -ms-grid-columns: max-content auto;
        grid-template-columns: -webkit-max-content auto;
        grid-template-columns: max-content auto;
    grid-gap: 1.5rem;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  #about section ul li {
    text-align: center;
    grid-gap: 1rem;
  }
}

@media (min-width: 1025px) {
  #about section ul li {
    -ms-grid-columns: max-content auto;
        grid-template-columns: -webkit-max-content auto;
        grid-template-columns: max-content auto;
    grid-gap: 1.5rem;
  }
  #about section ul li:hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  #about section ul li:hover i {
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
    text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);
  }
}

#about section ul li i {
  font-size: 3rem;
  color: var(--brand-color);
  -webkit-transition: text-shadow 0.2s ease-in, -webkit-transform 0.2s ease-in;
  transition: text-shadow 0.2s ease-in, -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in, text-shadow 0.2s ease-in;
  transition: transform 0.2s ease-in, text-shadow 0.2s ease-in, -webkit-transform 0.2s ease-in;
}

#work {
  -ms-grid-rows: var(--page-heading-size) auto;
      grid-template-rows: var(--page-heading-size) auto;
  background: url(/assets/images/work.jpg), rgba(255, 255, 255, 0.75);
  background-attachment: fixed !important;
}

#work .wrapper {
  display: -ms-grid;
  display: grid;
  grid-gap: var(--header-margin-lr);
}

@media (max-width: 767px) {
  #work .wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 0.1px (80%)[2] 0.1px;
        grid-template-columns: 0.1px repeat(2, 80%) 0.1px;
    grid-gap: var(--header-margin-lr);
    overflow-x: scroll;
    padding-bottom: 180px;
    margin-bottom: -180px;
  }
  #work .wrapper::before, #work .wrapper::after {
    content: '';
  }
  #work .wrapper::-webkit-scrollbar {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  #work .wrapper {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1025px) {
  #work .wrapper {
    -ms-grid-columns: (320px)[2];
        grid-template-columns: repeat(2, 320px);
    grid-gap: 3rem;
  }
}

@media (min-width: 768px) {
  #work .wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0 var(--header-margin-lr);
  }
}

#work .wrapper section {
  display: -ms-grid;
  display: grid;
  grid-gap: 1rem;
  grid-auto-rows: -webkit-max-content;
  grid-auto-rows: max-content;
  justify-items: center;
  text-align: center;
  padding: 1.25rem;
  border-radius: 8px;
  background-color: #fff;
}

#work .wrapper section img.company-logo {
  max-width: 100%;
  -webkit-transform: translateZ(45px);
          transform: translateZ(45px);
}

@media (max-width: 767px) {
  #work .wrapper section img.company-logo {
    height: 4rem;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  #work .wrapper section img.company-logo {
    height: 5rem;
  }
}

@media (min-width: 1025px) {
  #work .wrapper section img.company-logo {
    height: 5rem;
  }
}

#work .wrapper section h1 {
  font-family: var(--font-family-secondary);
}

@media (max-width: 767px) {
  #work .wrapper section h1 {
    font-size: 1.2rem;
  }
}

@media (min-width: 768px) {
  #work .wrapper section h1 {
    font-size: 1.25rem;
  }
}

#work .wrapper section p {
  font-family: var(--font-family-secondary);
  font-size: 0.9rem;
  color: #9e9e9e;
}

#work .wrapper section .clients ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  margin-top: calc(1rem / 2);
}

#work .wrapper section .clients ul img {
  width: 100%;
  padding: 0 0.5rem;
  border-radius: 8px;
  background-color: #fff;
  -webkit-transform: translateZ(30px);
          transform: translateZ(30px);
}

#skills {
  -ms-grid-rows: var(--page-heading-size) auto;
      grid-template-rows: var(--page-heading-size) auto;
  background-color: #eee;
}

#skills .wrapper {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  #skills .wrapper {
    grid-gap: calc(var(--page-heading-size) - var(--page-heading-font-size));
  }
}

@media (min-width: 768px) {
  #skills .wrapper {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

#skills .wrapper section {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 3rem auto;
      grid-template-rows: 3rem auto;
}

@media (min-width: 768px) {
  #skills .wrapper section:first-of-type ul {
    border-right: 1px solid rgba(0, 0, 0, 0.2);
  }
}

@media (min-width: 1280px) {
  #skills .wrapper section:first-of-type ul {
    padding: 0 calc(var(--header-margin-lr) / 2) 0 var(--header-margin-lr) !important;
  }
}

@media (min-width: 1280px) {
  #skills .wrapper section:first-of-type > h1 {
    padding: 0 calc(var(--header-margin-lr) / 2) 0 var(--header-margin-lr) !important;
  }
}

@media (min-width: 1280px) {
  #skills .wrapper section:last-of-type ul, #skills .wrapper section:last-of-type > h1 {
    padding: 0 var(--header-margin-lr) 0 calc(var(--header-margin-lr) / 2) !important;
  }
}

#skills .wrapper section > h1 {
  font-size: 1.5rem;
  font-weight: var(--page-heading-font-weight);
  padding: 0 var(--header-margin-lr);
}

#skills .wrapper section ul {
  display: -ms-grid;
  display: grid;
}

@media (max-width: 767px) {
  #skills .wrapper section ul {
    -ms-grid-columns: (14rem)[4];
        grid-template-columns: repeat(4, 14rem);
    grid-gap: 1rem;
  }
}

@media (max-width: 767px) and (max-width: 767px) and (min-height: 800px) {
  #skills .wrapper section ul {
    -ms-grid-columns: (14rem)[3];
        grid-template-columns: repeat(3, 14rem);
  }
}

@media (min-width: 768px) {
  #skills .wrapper section ul {
    grid-gap: 1.5rem;
    padding: 0 var(--header-margin-lr);
  }
}

@media (min-width: 1025px) {
  #skills .wrapper section ul {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

#skills .wrapper section ul li {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 3px auto;
      grid-template-rows: 3px auto;
  -ms-grid-columns: calc(2rem + 2 * 0.7rem) auto;
      grid-template-columns: calc(2rem + 2 * 0.7rem) auto;
      grid-template-areas: "progress-bar progress-bar" "img span";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-height: calc(calc(2rem + 2 * 0.7rem) + 2 * 0.7rem);
  background-color: #fff;
  -webkit-transition: -webkit-transform 0.2s ease-in;
  transition: -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
  transition: transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
}

@media (min-width: 1025px) {
  #skills .wrapper section ul li:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  #skills .wrapper section ul li:hover img {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
}

#skills .wrapper section ul li .progress-bar {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: progress-bar;
  width: 100%;
  height: 3px;
  background-color: var(--brand-color);
}

#skills .wrapper section ul li img {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: img;
  width: calc(2rem + 2 * 0.7rem);
  height: calc(2rem + 2 * 0.7rem);
  padding: 0.7rem;
  -webkit-transition: -webkit-transform 0.2s ease-in;
  transition: -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
  transition: transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
}

#skills .wrapper section ul li span {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: span;
  font-family: var(--font-family-secondary);
  font-size: 0.95rem;
  font-weight: 500;
  padding: 0.7rem 0.7rem 0.7rem 0;
}

@media (min-width: 768px) and (max-width: 1024px) {
  #skills .wrapper section ul li span {
    font-size: 1.25rem;
  }
}

#contact {
  padding: 0 !important;
}

#contact .wrapper {
  display: -ms-grid;
  display: grid;
}

@media (max-width: 767px) {
  #contact .wrapper {
    -ms-grid-rows: (auto)[2];
        grid-template-rows: repeat(2, auto);
    width: 100vw;
  }
}

@media (min-width: 768px) {
  #contact .wrapper {
    -ms-grid-columns: (50%)[2];
        grid-template-columns: repeat(2, 50%);
  }
}

#contact .wrapper section {
  display: -ms-grid;
  display: grid;
  padding: var(--container-margin-tb) var(--header-margin-lr);
}

#contact .wrapper section h1 {
  font-size: var(--page-heading-font-size);
  font-weight: var(--page-heading-font-weight);
}

#contact .wrapper section:first-child {
  -ms-grid-rows: var(--page-heading-size) auto auto;
      grid-template-rows: var(--page-heading-size) auto auto;
  position: relative;
  background-image: url(/assets/images/contact.jpg);
  background-attachment: fixed;
}

@media (max-width: 767px) {
  #contact .wrapper section:first-child {
    background-size: contain;
  }
}

@media (min-width: 768px) {
  #contact .wrapper section:first-child {
    background-size: 50% auto;
  }
}

@media (min-width: 1280px) {
  #contact .wrapper section:first-child {
    padding-right: calc(var(--header-margin-lr) / 2);
  }
}

#contact .wrapper section:first-child:after {
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left bottom, right top, from(var(--brand-color)), color-stop(rgba(255, 23, 68, 0.9)), to(rgba(255, 136, 0, 0.9)));
  background-image: linear-gradient(to top right, var(--brand-color), rgba(255, 23, 68, 0.9), rgba(255, 136, 0, 0.9));
}

#contact .wrapper section:first-child h1 {
  color: #fff;
  z-index: 1;
}

#contact .wrapper section:first-child ul {
  z-index: 1;
}

#contact .wrapper section:first-child ul.content {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 2rem;
}

#contact .wrapper section:first-child ul.content li {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: max-content auto;
      grid-template-columns: -webkit-max-content auto;
      grid-template-columns: max-content auto;
  grid-gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1025px) {
  #contact .wrapper section:first-child ul.content li:hover i {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
    text-shadow: 3px 3px 11px rgba(0, 0, 0, 0.5);
  }
}

#contact .wrapper section:first-child ul.content li i {
  opacity: 0.7;
}

#contact .wrapper section:first-child ul.content li span {
  font-family: var(--font-family-secondary);
  color: #fff;
}

@media (max-width: 767px) {
  #contact .wrapper section:first-child ul.content li span {
    font-size: 0.95rem;
  }
}

@media (min-width: 1025px) {
  #contact .wrapper section:first-child ul.content li span {
    font-size: 1.2rem;
  }
}

#contact .wrapper section:first-child ul.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 16rem;
  margin-top: 2rem;
}

#contact .wrapper section:first-child ul i {
  font-size: 2.5rem;
  color: #fff;
  -webkit-transition: text-shadow 0.2s ease-in, -webkit-transform 0.2s ease-in;
  transition: text-shadow 0.2s ease-in, -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in, text-shadow 0.2s ease-in;
  transition: transform 0.2s ease-in, text-shadow 0.2s ease-in, -webkit-transform 0.2s ease-in;
}

@media (min-width: 1025px) {
  #contact .wrapper section:first-child ul i:hover {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
    text-shadow: 3px 3px 11px rgba(0, 0, 0, 0.25);
  }
}

#contact .wrapper section:last-child {
  -ms-grid-rows: var(--page-heading-size) auto;
      grid-template-rows: var(--page-heading-size) auto;
  background-color: #fff;
}

@media (max-width: 767px) {
  #contact .wrapper section:last-child {
    margin-bottom: var(--nav-height);
  }
}

@media (min-width: 1280px) {
  #contact .wrapper section:last-child {
    padding-left: calc(var(--header-margin-lr) / 2);
  }
}

#contact .wrapper section:last-child form {
  display: -ms-grid;
  display: grid;
  height: 100%;
  grid-row-gap: 1rem;
}

#contact .wrapper section:last-child form label.error span.label, #contact .wrapper section:last-child form label.error input[type="text"], #contact .wrapper section:last-child form label.error textarea {
  background-color: #ffcdd2;
}

#contact .wrapper section:last-child form label span {
  font-size: 0.75rem;
  padding: calc(0.5rem / 2) 0.5rem;
}

#contact .wrapper section:last-child form label span.label {
  display: block;
  width: 100%;
  font-family: var(--font-family-secondary);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding-bottom: 0;
  background-color: #eee;
}

#contact .wrapper section:last-child form label span.field-message {
  display: block;
  font-family: var(--font-family-secondary);
}

#contact .wrapper section:last-child form label span.field-message.error {
  color: #ff4444;
}

#contact .wrapper section:last-child form label input[type="text"], #contact .wrapper section:last-child form label textarea {
  width: 100%;
  font-family: var(--font-family-secondary);
  font-size: 1.25rem;
  padding: 0.5rem;
  border: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  outline: none;
  background-color: #eee;
}

#contact .wrapper section:last-child form label input[type="text"] {
  height: 2.25rem;
}

#contact .wrapper section:last-child form label textarea {
  display: block;
  resize: none;
  min-height: calc(2.25rem + (2 * 1.25rem));
  max-height: calc(2.25rem + (7 * 1.25rem));
}

#contact .wrapper section:last-child form .response-message {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: max-content auto;
      grid-template-columns: -webkit-max-content auto;
      grid-template-columns: max-content auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  color: #fff;
}

#contact .wrapper section:last-child form .response-message.success {
  background-color: #00C851;
}

#contact .wrapper section:last-child form .response-message.error {
  background-color: #ff4444;
}

#contact .wrapper section:last-child form .response-message i {
  font-size: 2rem;
  padding: 0.5rem;
}

#contact .wrapper section:last-child form .response-message span {
  font-family: var(--font-family-secondary);
  font-size: 0.9rem;
  padding: 0.5rem 0.5rem 0.5rem 0;
}

#contact .wrapper section:last-child form .btn {
  border-radius: 30px;
  max-width: 10rem;
}
/*# sourceMappingURL=index.css.map */