@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat';
  letter-spacing: 0.5px;
  line-height: 1.5;
  word-break: break-word;
  list-style: none;
}

a {
  text-decoration: none;
}

:root {
  scroll-behavior: smooth;
  --nav-height: 4rem;
  --header-margin-tb: 0.25rem;
  --header-transition-time: 0.5s;
  --page-heading-font-size: 2rem;
  --page-heading-size: 4rem;
  --container-margin-tb: 3rem;
}

@media (max-width: 767px) {
  :root {
    --header-height: 3rem;
    --header-margin-lr: 1.5rem;
  }
  :root .hide-sm {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  :root {
    --header-height: 4rem;
    --header-margin-lr: 3rem;
  }
  :root .hide-md {
    display: none;
  }
}

@media (min-width: 1025px) {
  :root {
    --header-height: 4rem;
    --header-margin-lr: 4.5rem;
  }
  :root .hide-lg {
    display: none;
  }
}

@media (min-width: 1280px) {
  :root {
    --header-margin-lr: 8rem;
  }
  :root .hide-xl {
    display: none;
  }
}

.hide {
  display: none !important;
}

@media (min-width: 768px) {
  #typing:after {
    content: "|";
    color: var(--brand-color);
    font-size: 22px;
    -webkit-animation: animated-cursor 1s infinite;
            animation: animated-cursor 1s infinite;
  }
}

@-webkit-keyframes animated-cursor {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes animated-cursor {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

body {
  font-size: 1rem;
  color: #212121;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  overflow-x: hidden;
  overflow-y: scroll;
}

#header {
  --logo-height: calc(var(--header-height) - 2 * var(--header-margin-tb));
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  top: 0;
  left: 0;
  width: 100vw;
  margin: 0;
  padding: var(--header-margin-tb) var(--header-margin-lr);
  background-color: transparent;
  z-index: 100;
  -webkit-transition: background-color var(--header-transition-time), -webkit-box-shadow var(--header-transition-time);
  transition: background-color var(--header-transition-time), -webkit-box-shadow var(--header-transition-time);
  transition: box-shadow var(--header-transition-time), background-color var(--header-transition-time);
  transition: box-shadow var(--header-transition-time), background-color var(--header-transition-time), -webkit-box-shadow var(--header-transition-time);
}

@media (max-width: 767px) {
  #header {
    height: var(--header-height);
    background-color: #fff;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
  }
}

#header.scrolled {
  background-color: white;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
}

@media (min-width: 768px) {
  #header.scrolled img.logo {
    height: calc(var(--logo-height) - 1rem);
  }
  #header.scrolled nav ul li a .label {
    font-size: 1.2rem;
  }
}

#header img.logo {
  height: var(--logo-height);
  -webkit-transition: height var(--header-transition-time);
  transition: height var(--header-transition-time);
}

@media (max-width: 767px) {
  #header nav {
    position: fixed;
    bottom: -1px;
    left: 0;
    width: 100vw;
    background-color: #fff;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
  }
}

@media (min-width: 768px) {
  #header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

#header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  #header nav ul {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: var(--nav-height);
  }
}

@media (min-width: 768px) {
  #header nav ul {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

#header nav ul li {
  text-align: center;
}

@media (min-width: 768px) {
  #header nav ul li {
    padding-left: 2rem;
  }
}

#header nav ul li a {
  color: #212121;
  text-decoration: none;
}

@media (min-width: 1025px) and (min-width: 1025px) {
  #header nav ul li a:hover i, #header nav ul li a:hover .label {
    color: var(--brand-color);
  }
}

#header nav ul li a.active i, #header nav ul li a.active .label {
  font-weight: 700;
  color: var(--brand-color);
}

@media (max-width: 767px) {
  #header nav ul li a i {
    font-size: 1.5rem;
    padding-bottom: 0.4rem;
  }
}

@media (min-width: 768px) {
  #header nav ul li a i {
    display: none;
  }
}

@media (max-width: 767px) {
  #header nav ul li a .label {
    font-size: 0.85rem;
    line-height: 1;
  }
}

@media (min-width: 768px) {
  #header nav ul li a .label {
    font-size: 1.5rem;
    -webkit-transition: font-size var(--header-transition-time);
    transition: font-size var(--header-transition-time);
  }
}

.container {
  display: -ms-grid;
  display: grid;
  min-height: -webkit-max-content;
  min-height: -moz-max-content;
  min-height: max-content;
  padding: var(--container-margin-tb) 0;
  scroll-snap-align: start !important;
  scroll-margin-top: var(--header-height);
}

@media (min-width: 768px) {
  .container {
    scroll-margin-top: calc(var(--header-height) - 1rem);
  }
}

.container > h1 {
  font-size: var(--page-heading-font-size);
  padding: 0 var(--header-margin-lr);
}

@media (min-width: 768px) {
  .container > h1 {
    text-align: center;
  }
}

@media (max-width: 767px) {
  .horizontal-scroll-m {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: var(--header-margin-lr) auto var(--header-margin-lr);
        grid-template-columns: var(--header-margin-lr) auto var(--header-margin-lr);
    overflow-x: scroll;
  }
  .horizontal-scroll-m::before, .horizontal-scroll-m::after {
    content: '';
  }
  .horizontal-scroll-m::-webkit-scrollbar {
    display: none;
  }
}

#home {
  --home-grid-gap: 1rem;
  padding-top: var(--header-height);
  min-height: auto;
  grid-gap: var(--home-grid-gap);
  padding-left: var(--header-margin-lr);
  padding-right: var(--header-margin-lr);
  overflow: hidden;
}

@media (max-width: 767px) and (min-height: 800px) {
  #home {
    --home-grid-gap: 2rem;
  }
}

@media (max-width: 767px) {
  #home {
    -ms-grid-rows: auto;
        grid-template-rows: auto;
        grid-template-areas: "home-title" "home-image";
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    text-align: center;
    padding-bottom: 0;
  }
}

@media (min-width: 768px) {
  #home {
    -ms-grid-columns: auto max-content;
        grid-template-columns: auto -webkit-max-content;
        grid-template-columns: auto max-content;
        grid-template-areas: "home-image home-title";
  }
}

#home img.background {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.1;
  z-index: -1;
}

@media (min-width: 768px) {
  #home picture {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

#home picture img.primary {
  grid-area: home-image;
}

@media (max-width: 767px) {
  #home picture img.primary {
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    max-width: 100%;
    max-height: 100%;
    z-index: 1;
  }
}

@media (max-width: 767px) and (min-height: 800px) {
  #home picture img.primary {
    max-width: 125%;
  }
}

@media (min-width: 768px) {
  #home picture img.primary {
    margin-top: auto;
    margin-bottom: calc(0px - var(--container-margin-tb));
    max-width: 100%;
    max-height: calc(100% + var(--container-margin-tb));
  }
}

#home .content {
  grid-area: home-title;
}

@media (max-width: 767px) {
  #home .content {
    display: -ms-grid;
    display: grid;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: var(--home-grid-gap);
  }
}

@media (min-width: 768px) {
  #home .content {
    text-align: center;
    margin: auto;
    padding: var(--container-margin-tb) 0;
  }
}

#home .content h1 {
  font-weight: 300;
}

@media (max-width: 767px) {
  #home .content h1 {
    font-size: 1.25rem;
  }
}

@media (max-width: 767px) and (min-height: 800px) {
  #home .content h1 {
    font-size: 1.5rem;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  #home .content h1 {
    font-size: 1.75rem;
  }
}

@media (min-width: 1025px) {
  #home .content h1 {
    font-size: 2rem;
  }
}

#home .content h1 b {
  font-weight: 700;
  line-height: 1;
}

@media (max-width: 767px) {
  #home .content h1 b {
    font-size: 3.5rem;
  }
}

@media (max-width: 767px) and (min-height: 800px) {
  #home .content h1 b {
    font-size: 4rem;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  #home .content h1 b {
    font-size: 5rem;
  }
}

@media (min-width: 1025px) {
  #home .content h1 b {
    font-size: 6rem;
  }
}

#home .content h2 {
  text-transform: uppercase;
  font-weight: 400;
  line-height: 1;
}

@media (max-width: 767px) {
  #home .content h2 {
    position: fixed;
    top: 0;
    right: var(--header-margin-lr);
    font-size: 1.25rem;
    text-align: right;
    z-index: 100;
  }
  #home .content h2 div {
    font-size: 0.72rem;
    margin-top: -2px;
  }
}

@media (min-width: 768px) {
  #home .content h2 {
    font-size: 1.75rem;
    margin-top: 3rem;
  }
  #home .content h2 div {
    font-size: 1rem;
    margin-top: -8px;
  }
}

#home .content h2 b {
  font-weight: 700;
}

#home .content .action {
  display: -ms-grid;
  display: grid;
  grid-gap: 0.5rem;
  text-align: center;
}

@media (max-width: 767px) {
  #home .content .action {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    position: absolute;
    bottom: calc(var(--nav-height) + 2rem);
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    z-index: 1;
  }
}

@media (min-width: 768px) {
  #home .content .action {
    -ms-grid-columns: (160px)[2];
        grid-template-columns: repeat(2, 160px);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 4rem;
  }
}

#home .content .action a {
  display: inline-block;
  text-decoration: none;
  white-space: nowrap;
  border: 3px solid var(--brand-color);
  border-radius: 6px;
  font-weight: 500;
  color: var(--brand-color);
  background-color: rgba(255, 255, 255, 0.95);
  cursor: pointer;
}

@media (max-width: 767px) {
  #home .content .action a {
    font-size: 0.8rem;
    padding: 0.5rem 1rem;
  }
}

@media (min-width: 768px) {
  #home .content .action a {
    font-size: 1rem;
    padding: 0.6rem 1.2rem;
  }
}

#home .content .action a.primary {
  color: #fff;
  background-color: var(--brand-color);
}

#about {
  position: relative;
  grid-gap: 1rem;
}

@media (max-width: 767px) {
  #about {
    -ms-grid-rows: 100%;
        grid-template-rows: 100%;
        grid-template-areas: "content";
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  #about {
    min-height: calc(100vh - var(--header-height));
    -ms-grid-rows: max-content auto;
        grid-template-rows: -webkit-max-content auto;
        grid-template-rows: max-content auto;
        grid-template-areas: "content" "image";
  }
}

@media (min-width: 1025px) {
  #about {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "content image";
  }
}

@media (min-width: 768px) {
  #about {
    padding-left: var(--header-margin-lr);
    padding-right: var(--header-margin-lr);
  }
}

#about::after {
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
  z-index: 0;
}

#about img {
  grid-area: image;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1;
}

@media (max-width: 767px) {
  #about img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.1;
  }
}

#about section {
  grid-area: content;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: var(--page-heading-size) max-content max-content;
      grid-template-rows: var(--page-heading-size) -webkit-max-content -webkit-max-content;
      grid-template-rows: var(--page-heading-size) max-content max-content;
  z-index: 2;
}

#about section h1 {
  font-size: var(--page-heading-font-size);
}

@media (max-width: 767px) {
  #about section h1 {
    padding: 0 var(--header-margin-lr);
  }
}

#about section p {
  line-height: 1.5;
}

@media (max-width: 767px) {
  #about section p {
    padding: 0 var(--header-margin-lr);
  }
}

#about section ul {
  display: -ms-grid;
  display: grid;
  grid-gap: 1rem;
  margin-top: 1rem;
}

@media (max-width: 767px) {
  #about section ul {
    -ms-grid-columns: (14rem)[4];
        grid-template-columns: repeat(4, 14rem);
  }
}

@media (max-width: 767px) and (max-width: 767px) and (min-height: 800px) {
  #about section ul {
    -ms-grid-columns: (14rem)[2];
        grid-template-columns: repeat(2, 14rem);
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  #about section ul {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1025px) {
  #about section ul {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

#about section ul li {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  border-radius: 6px;
  border: 1px solid #000;
  background-color: #fff;
}

@media (max-width: 767px) {
  #about section ul li {
    --icon-font-size: 2rem;
    -ms-grid-columns: var(--icon-font-size) auto;
        grid-template-columns: var(--icon-font-size) auto;
    grid-gap: 1.5rem;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  #about section ul li {
    --icon-font-size: 2.5rem;
    text-align: center;
    grid-gap: 1rem;
  }
}

@media (min-width: 1025px) {
  #about section ul li {
    --icon-font-size: 2.5rem;
    -ms-grid-columns: var(--icon-font-size) auto;
        grid-template-columns: var(--icon-font-size) auto;
    grid-gap: 1.5rem;
  }
}

#about section ul li i.fa {
  font-size: var(--icon-font-size);
}

#about section ul li .label {
  font-weight: 600;
}

#skills {
  -ms-grid-rows: var(--page-heading-size) auto;
      grid-template-rows: var(--page-heading-size) auto;
  background-color: #eee;
}

#skills .wrapper {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  #skills .wrapper {
    grid-gap: calc(var(--page-heading-size) - var(--page-heading-font-size));
  }
}

@media (min-width: 768px) {
  #skills .wrapper {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

#skills .wrapper section {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 3rem auto;
      grid-template-rows: 3rem auto;
}

@media (min-width: 768px) {
  #skills .wrapper section:first-of-type ul {
    border-right: 1px solid rgba(0, 0, 0, 0.2);
  }
}

@media (min-width: 1280px) {
  #skills .wrapper section:first-of-type ul {
    padding: 0 calc(var(--header-margin-lr) / 2) 0 var(--header-margin-lr) !important;
  }
}

@media (min-width: 1280px) {
  #skills .wrapper section:first-of-type > h1 {
    padding: 0 calc(var(--header-margin-lr) / 2) 0 var(--header-margin-lr) !important;
  }
}

@media (min-width: 1280px) {
  #skills .wrapper section:last-of-type ul, #skills .wrapper section:last-of-type > h1 {
    padding: 0 var(--header-margin-lr) 0 calc(var(--header-margin-lr) / 2) !important;
  }
}

#skills .wrapper section > h1 {
  font-size: 1.5rem;
  padding: 0 var(--header-margin-lr);
}

#skills .wrapper section ul {
  display: -ms-grid;
  display: grid;
}

@media (max-width: 767px) {
  #skills .wrapper section ul {
    -ms-grid-columns: (14rem)[4];
        grid-template-columns: repeat(4, 14rem);
    grid-gap: 1rem;
  }
}

@media (max-width: 767px) and (max-width: 767px) and (min-height: 800px) {
  #skills .wrapper section ul {
    -ms-grid-columns: (14rem)[3];
        grid-template-columns: repeat(3, 14rem);
  }
}

@media (min-width: 768px) {
  #skills .wrapper section ul {
    grid-gap: 1.5rem;
    padding: 0 var(--header-margin-lr);
  }
}

@media (min-width: 1025px) {
  #skills .wrapper section ul {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

#skills .wrapper section ul li {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 3px auto;
      grid-template-rows: 3px auto;
  -ms-grid-columns: calc(2rem + 2 * 0.7rem) auto;
      grid-template-columns: calc(2rem + 2 * 0.7rem) auto;
      grid-template-areas: "progress-bar progress-bar" "img span";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-height: calc(calc(2rem + 2 * 0.7rem) + 2 * 0.7rem);
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
}

#skills .wrapper section ul li .progress-bar {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: progress-bar;
  width: 100%;
  height: 3px;
  background-color: var(--brand-color);
}

#skills .wrapper section ul li img {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: img;
  width: calc(2rem + 2 * 0.7rem);
  height: calc(2rem + 2 * 0.7rem);
  padding: 0.7rem;
}

#skills .wrapper section ul li span {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: span;
  font-weight: 500;
  padding: 0.7rem 0.7rem 0.7rem 0;
}

@media (min-width: 768px) and (max-width: 1024px) {
  #skills .wrapper section ul li span {
    font-size: 1.25rem;
  }
}

#work {
  -ms-grid-rows: var(--page-heading-size) auto;
      grid-template-rows: var(--page-heading-size) auto;
  background-color: #f5f5f5;
}

#work .wrapper {
  display: -ms-grid;
  display: grid;
  grid-gap: var(--header-margin-lr);
}

@media (max-width: 767px) {
  #work .wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 0.1px (80%)[2] 0.1px;
        grid-template-columns: 0.1px repeat(2, 80%) 0.1px;
    grid-gap: var(--header-margin-lr);
    overflow-x: scroll;
  }
  #work .wrapper::before, #work .wrapper::after {
    content: '';
  }
  #work .wrapper::-webkit-scrollbar {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  #work .wrapper {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1025px) {
  #work .wrapper {
    -ms-grid-columns: (320px)[2];
        grid-template-columns: repeat(2, 320px);
    grid-gap: 3rem;
  }
}

@media (min-width: 768px) {
  #work .wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0 var(--header-margin-lr);
  }
}

#work .wrapper section {
  display: -ms-grid;
  display: grid;
  grid-gap: 1rem;
  grid-auto-rows: -webkit-max-content;
  grid-auto-rows: max-content;
  justify-items: center;
  text-align: center;
  padding: 1.25rem;
  background-color: #fff;
  -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2);
}

#work .wrapper section img.company-logo {
  max-width: 100%;
}

@media (max-width: 767px) {
  #work .wrapper section img.company-logo {
    height: 4rem;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  #work .wrapper section img.company-logo {
    height: 5rem;
  }
}

@media (min-width: 1025px) {
  #work .wrapper section img.company-logo {
    height: 5rem;
  }
}

@media (max-width: 767px) {
  #work .wrapper section h1 {
    font-size: 1.2rem;
  }
}

@media (min-width: 768px) {
  #work .wrapper section h1 {
    font-size: 1.25rem;
  }
}

#work .wrapper section p {
  color: #9e9e9e;
}

#work .wrapper section .clients ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  margin-top: calc(1rem / 2);
}

#work .wrapper section .clients ul img {
  width: 100%;
  padding: 0 0.5rem;
  border-radius: 8px;
  background-color: #fff;
  -webkit-transition: -webkit-box-shadow 0.2s ease-in;
  transition: -webkit-box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in, -webkit-box-shadow 0.2s ease-in;
}

@media (min-width: 1025px) {
  #work .wrapper section .clients ul img:hover {
    -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
  }
}

#contact {
  padding: 0 !important;
}

#contact .wrapper {
  display: -ms-grid;
  display: grid;
}

@media (max-width: 767px) {
  #contact .wrapper {
    -ms-grid-rows: (auto)[2];
        grid-template-rows: repeat(2, auto);
    width: 100vw;
  }
}

@media (min-width: 768px) {
  #contact .wrapper {
    -ms-grid-columns: (50%)[2];
        grid-template-columns: repeat(2, 50%);
  }
}

#contact .wrapper section {
  display: -ms-grid;
  display: grid;
  padding: var(--container-margin-tb) var(--header-margin-lr);
}

#contact .wrapper section h1 {
  font-size: var(--page-heading-font-size);
}

#contact .wrapper section:first-child {
  -ms-grid-rows: var(--page-heading-size) auto auto;
      grid-template-rows: var(--page-heading-size) auto auto;
  background-color: var(--brand-color);
}

@media (min-width: 1280px) {
  #contact .wrapper section:first-child {
    padding-right: calc(var(--header-margin-lr) / 2);
  }
}

#contact .wrapper section:first-child h1 {
  color: #fff;
}

#contact .wrapper section:first-child ul.content {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 2rem;
}

#contact .wrapper section:first-child ul.content li {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2rem auto;
      grid-template-columns: 2rem auto;
  grid-gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contact .wrapper section:first-child ul.content li i.fa {
  font-size: 2rem;
  color: #fff;
  opacity: 0.6;
}

#contact .wrapper section:first-child ul.content li span {
  color: #fff;
}

@media (min-width: 1025px) {
  #contact .wrapper section:first-child ul.content li span {
    font-size: 1.2rem;
  }
}

#contact .wrapper section:first-child ul.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 16rem;
  margin-top: calc(var(--page-heading-size) - 2rem);
}

#contact .wrapper section:first-child ul.icons i.fa {
  font-size: 2rem;
  color: #fff;
}

#contact .wrapper section:last-child {
  -ms-grid-rows: var(--page-heading-size) auto;
      grid-template-rows: var(--page-heading-size) auto;
  background-color: #fff;
}

@media (max-width: 767px) {
  #contact .wrapper section:last-child {
    margin-bottom: var(--nav-height);
  }
}

@media (min-width: 1280px) {
  #contact .wrapper section:last-child {
    padding-left: calc(var(--header-margin-lr) / 2);
  }
}

#contact .wrapper section:last-child form {
  display: -ms-grid;
  display: grid;
  height: 100%;
  grid-row-gap: 1rem;
}

#contact .wrapper section:last-child form label.error span.label, #contact .wrapper section:last-child form label.error input[type="text"], #contact .wrapper section:last-child form label.error textarea {
  background-color: #ffcdd2;
}

#contact .wrapper section:last-child form label span {
  font-size: 0.75rem;
  padding: calc(0.5rem / 2) 0.5rem;
}

#contact .wrapper section:last-child form label span.label {
  position: absolute;
  border-radius: 5px;
  background-color: #eee;
}

#contact .wrapper section:last-child form label span.field-message {
  display: block;
}

#contact .wrapper section:last-child form label span.field-message.error {
  color: #ff4444;
}

#contact .wrapper section:last-child form label input[type="text"], #contact .wrapper section:last-child form label textarea {
  width: 100%;
  font-size: 1.25rem;
  padding: 0.5rem;
  padding-top: 1.75rem;
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: #eee;
}

#contact .wrapper section:last-child form label input[type="text"] {
  height: 3.5rem;
}

#contact .wrapper section:last-child form label textarea {
  display: block;
  resize: none;
  min-height: 3.5rem;
  height: 100%;
}

#contact .wrapper section:last-child form .response-message {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: max-content auto;
      grid-template-columns: -webkit-max-content auto;
      grid-template-columns: max-content auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  color: #fff;
}

#contact .wrapper section:last-child form .response-message.success {
  background-color: #00C851;
}

#contact .wrapper section:last-child form .response-message.error {
  background-color: #ff4444;
}

#contact .wrapper section:last-child form .response-message .fa, #contact .wrapper section:last-child form .response-message .far {
  font-size: 2rem;
  padding: 0.5rem;
}

#contact .wrapper section:last-child form .response-message span {
  font-size: 0.75rem;
  padding: 0.5rem 0.5rem 0.5rem 0;
}

#contact .wrapper section:last-child form input[type="submit"], #contact .wrapper section:last-child form button {
  display: inline-block;
  height: 3rem;
  max-width: 10rem;
  font-size: 1rem;
  text-transform: uppercase;
  border: none;
  border-radius: 30px;
  color: #fff;
  background-color: var(--brand-color);
  cursor: pointer;
  outline: none;
}
/*# sourceMappingURL=main.css.map */