@import "common.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
    letter-spacing: 0.5px;
    line-height: 1.5;
    word-break: break-word;
    list-style: none;
}


body {
    font-size: 1rem;
    color: color(primary-text);
    scroll-snap-type: y mandatory;
    overflow-x: hidden;
    overflow-y: scroll;
}


a {
    text-decoration: none;
}


.hide {
    display: none !important;
}


.container {
    display: grid;
    min-height: max-content;
    padding: var(--container-margin-tb) 0;
    scroll-snap-align: start !important;
    scroll-margin-top: var(--header-height);

    @include tablet-desktop {
        scroll-margin-top: calc(var(--header-height) - 1rem);
    }

    > h1 {
        font-size: var(--page-heading-font-size);
        padding: 0 var(--header-margin-lr);

        @include tablet-desktop {
            text-align: center;
        }
    }
}


[tooltip] {
    position: relative;
}

[tooltip]:before {
    $font-size: 0.8rem;
    $padding-tb: 0.2rem;
    content: attr(tooltip);
    position: absolute;
    top: calc(0rem - 0.8rem - 2 * 0.2rem - 12px);
    left: 50%;
    transform: translateX(-50%);
    font-size: $font-size;
    white-space: nowrap;
    padding: $padding-tb 0.4rem;
    border-radius: 4px;
    color: #fff;
    background-color: rgba(#000, 0.8);
}

[tooltip]:after {
    content: " ";
    position: absolute;
    top: -6px;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgba(#000, 0.8) transparent transparent transparent;
}

[tooltip]:before, [tooltip]:after {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease;
}

[tooltip]:hover:before, [tooltip]:hover:after {
    opacity: 1;
    visibility: visible;
}


@include mobile {
    .horizontal-scroll-m {
        display: grid;
        grid-template-columns: var(--header-margin-lr) auto var(--header-margin-lr);
        overflow-x: scroll;

        &::before, &::after {
            content: '';
        }

        &::-webkit-scrollbar {
            display: none;
        }
    }
}