@mixin mobile {
    @media (max-width: 767px) {
        @content;
    }
}

@mixin mobile-long {
    @media (max-width: 767px) and (min-height: 800px) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: 768px) and (max-width: 1024px) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: 1025px) {
        @content;
    }
}

@mixin tablet-desktop {
    @media (min-width: 768px) {
        @content;
    }
}

@mixin wide-screen {
    @media (min-width: 1280px) {
        @content;
    }
}


:root {
    scroll-behavior: smooth;
    --nav-height: 4rem;
    --header-margin-tb: 0.5rem;
    --header-transition-time: 0.5s;
    --page-heading-font-size: 2rem;
    --page-heading-font-weight: 500;
    --page-heading-size: 4rem;
    --container-margin-tb: 3rem;
    --font-family-primary: 'Josefin Sans', sans-serif;
    --font-family-secondary: 'Open Sans', sans-serif;

    @include mobile {
        --header-height: 3rem;
        --header-margin-lr: 1.5rem;

        .hide-sm {
            display: none;
        }
    }

    @include tablet {
        --header-height: 4rem;
        --header-margin-lr: 3rem;

        .hide-md {
            display: none;
        }
    }

    @include desktop {
        --header-height: 4rem;
        --header-margin-lr: 4.5rem;

        .hide-lg {
            display: none;
        }
    }

    @include wide-screen {
        --header-margin-lr: 8rem;

        .hide-xl {
            display: none;
        }
    }
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family-primary);
    letter-spacing: 0.5px;
    line-height: 1.5;
    word-break: break-word;
    list-style: none;
}


body {
    font-size: 1rem;
    color: color(primary-text);
    scroll-snap-type: y mandatory;
    overflow-x: hidden;
    overflow-y: scroll;
}


.container {
    display: grid;
    min-height: max-content;
    padding: var(--container-margin-tb) 0;
    background-blend-mode: overlay;
    background-size: cover !important;
    background-position: center !important;
    scroll-snap-align: start !important;
    scroll-margin-top: var(--header-height);

    @include tablet-desktop {
        scroll-margin-top: calc(var(--header-height) - 1rem);
    }

    > h1 {
        font-size: var(--page-heading-font-size);
        font-weight: var(--page-heading-font-weight);
        padding: 0 var(--header-margin-lr);

        @include tablet-desktop {
            text-align: center;
        }
    }
}


a {
    text-decoration: none;
}


.hide {
    display: none !important;
}


.highlight {
    color: color(brand);
}


[tooltip] {
    position: relative;
}

[tooltip]:before {
    content: attr(tooltip);
    position: absolute;
    top: calc(0rem - 0.8rem - 2 * 0.2rem - 12px);
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.8rem;
    white-space: nowrap;
    padding: 0.2rem 0.4rem;
    border-radius: 4px;
    color: #fff;
    background-color: rgba(#000, 0.8);
}

[tooltip]:after {
    content: " ";
    position: absolute;
    top: -6px;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgba(#000, 0.8) transparent transparent transparent;
}

[tooltip]:before, [tooltip]:after {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease;
}

@include tablet-desktop {
    [tooltip]:hover:before, [tooltip]:hover:after {
        opacity: 1;
        visibility: visible;
    }
}


@include mobile {
    .horizontal-scroll-m {
        display: grid;
        grid-template-columns: var(--header-margin-lr) auto var(--header-margin-lr);
        overflow-x: scroll;
        padding-bottom: 180px;
        margin-bottom: -180px;

        &::before, &::after {
            content: '';
        }

        &::-webkit-scrollbar {
            display: none;
        }
    }
}

// When there is only 1 row
@mixin horizontal-scroll($content) {
    display: grid;
    grid-template-columns: 0.1px $content 0.1px;
    grid-gap: var(--header-margin-lr);
    overflow-x: scroll;
    padding-bottom: 180px;
    margin-bottom: -180px;

    &::before, &::after {
        content: '';
    }

    &::-webkit-scrollbar {
        display: none;
    }
}


.btn {
    font-size: 1rem;
    font-weight: 500;
    padding: 0.6rem 1.6rem;
    border: none;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
    color: color(brand);
    background-image: linear-gradient(45deg, #fff , #fff, #eee, #fff, #fff);
    background-size: 225%;
    background-position: right;
    transition: background-position 0.4s ease-out;
    @extend %shadow;

    @include desktop {
        &:hover {
            background-position: left;
        }
    }

    &:disabled {
        cursor: default;
    }

    &.primary {
        color: #fff;
        background-image: linear-gradient(45deg, color(brand), color(brand), #ff8800, color(brand), color(brand));
    }
}


[name="send-message"] {
    position: relative;
    padding: 0.8rem 2rem;
    background-color: color(brand);
    transition: background-position 0.4s ease-out, background-color 0.3s ease, box-shadow 0.3s ease;

    @include desktop {
        &:hover {
            i {
                transform: translateY(-50%) rotateZ(-45deg);
            }
        }
    }

    i {
        position: absolute;
        right: 0.75rem;
        top: 50%;
        transform: translateY(-50%);
        font-size: 2rem;
        transition: transform 0.3s ease;
    }

    &.sending {
        background-image: none !important;
        background-color: #ff8800;
        box-shadow: 0px 16px 16px -6px #ffd54f;

        i {
            transform: translateY(-50%) rotateZ(-45deg);
            animation: shake 0.3s ease 0.5s infinite;
        }

        @keyframes shake {
            10%, 30%, 50%, 70%, 90% {
                transform: translateY(-50%) translate3d(-1.2px, 0, 0) rotateZ(-45deg);
            }
            20%, 40%, 60%, 80% {
                transform: translateY(-50%) translate3d(1.2px, 0, 0) rotateZ(-45deg);
            }
        }
    }

    &.sent {
        background-image: none !important;
        background-color: #00C851;
        box-shadow: 0px 16px 16px -6px #69f0ae;

        i {
            transform: translateY(-50%) rotateZ(-45deg);
            animation: moveUp 1s ease 0s forwards;
        }

        @keyframes moveUp {
            0% {
                margin-top: 0;
                transform: translateY(-50%) scale(1) rotateZ(-45deg);
            }
            100% {
                color: #00C851;
                margin-top: -100px;
                transform: translateY(-50%) scale(0) rotateZ(-45deg);
            }
        }
    }

    &.failed {
        background-image: none !important;
        background-color: #ff0000;
        box-shadow: 0px 16px 16px -6px #ff9e9f;

        i {
            transform: translateY(-50%) rotateZ(-45deg);
            animation: moveDown 1s ease 0s forwards;
        }

        @keyframes moveDown {
            0% {
                margin-top: 0;
                transform: translateY(-50%) scale(1) rotateZ(-45deg);
            }
            100% {
                color: #ff0000;
                margin-top: var(--container-margin-tb);
                transform: translateY(-50%) scale(0) rotateZ(-45deg);
            }
        }
    }
}


[data-tilt] {
    transform-style: preserve-3d;
    transform: perspective(1000px);
}


%shadow {
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02),
                0 6.7px 5.3px rgba(0, 0, 0, 0.028),
                0 12.5px 10px rgba(0, 0, 0, 0.035),
                0 22.3px 17.9px rgba(0, 0, 0, 0.042),
                0 41.8px 33.4px rgba(0, 0, 0, 0.05),
                0 100px 80px rgba(0, 0, 0, 0.07);
}

%dark-shadow {
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
                0 6.7px 5.3px rgba(0, 0, 0, 0.048),
                0 12.5px 10px rgba(0, 0, 0, 0.06),
                0 22.3px 17.9px rgba(0, 0, 0, 0.072),
                0 41.8px 33.4px rgba(0, 0, 0, 0.086),
                0 100px 80px rgba(0, 0, 0, 0.12);
}

%smooth-shadow {
    @include mobile {
        box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02),
                    0 6.7px 5.3px rgba(0, 0, 0, 0.028),
                    0 12.5px 10px rgba(0, 0, 0, 0.035),
                    0 22.3px 17.9px rgba(0, 0, 0, 0.042),
                    0 41.8px 33.4px rgba(0, 0, 0, 0.05),
                    0 100px 80px rgba(0, 0, 0, 0.07);
    }

    @include tablet {
        box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02),
                    0 6.7px 5.3px rgba(0, 0, 0, 0.028),
                    0 12.5px 10px rgba(0, 0, 0, 0.035),
                    0 22.3px 17.9px rgba(0, 0, 0, 0.042),
                    0 41.8px 33.4px rgba(0, 0, 0, 0.05),
                    0 100px 80px rgba(0, 0, 0, 0.07);
    }

    @include desktop {
        box-shadow: 0 2.8px 2.2px -20px rgba(0, 0, 0, 0.02),
                    0 6.7px 5.3px -20px rgba(0, 0, 0, 0.028),
                    0 12.5px 10px -20px rgba(0, 0, 0, 0.035),
                    0 22.3px 17.9px -20px rgba(0, 0, 0, 0.042),
                    0 41.8px 33.4px -20px rgba(0, 0, 0, 0.05),
                    0 100px 80px -20px rgba(0, 0, 0, 0.07);
        transition: box-shadow 0.2s ease-in;

        &:hover {
            box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
                        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
                        0 12.5px 10px rgba(0, 0, 0, 0.06),
                        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
                        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
                        0 100px 80px rgba(0, 0, 0, 0.12);
        }
    }
}