#work {
    grid-template-rows: var(--page-heading-size) auto;
    background: url(/assets/images/work.jpg), color(home-bg);
    background-attachment: fixed !important;

    .wrapper {
        display: grid;
        grid-gap: var(--header-margin-lr);
        
        @include mobile {
            @include horizontal-scroll(repeat(2, 80%));
        }

        @include tablet {
            grid-template-columns: repeat(2, 1fr);
        }

        @include desktop {
            grid-template-columns: repeat(2, 320px);
            grid-gap: 3rem;
        }

        @include tablet-desktop {
            justify-content: center;
            padding: 0 var(--header-margin-lr);
        }

        section {
            $grid-gap: 1rem;
            display: grid;
            grid-gap: $grid-gap;
            grid-auto-rows: max-content;
            justify-items: center;
            text-align: center;
            padding: 1.25rem;
            border-radius: 8px;
            background-color: color(card);
            @extend %dark-shadow;

            > a {
                width: 100%;

                img.company-logo {
                    margin-top: 15px;
                    max-width: 100%;
                    transform: translateZ(45px);
    
                    @include mobile {
                        height: 4rem;
                    }
    
                    @include tablet {
                        height: 5rem;
                    }
    
                    @include desktop {
                        height: 5rem;
                    }
                }
            }
    
            h1 {
                font-family: var(--font-family-secondary);
                font-weight: 700;
                color: color(brand);

                @include mobile {
                    font-size: 1.2rem;
                }

                @include tablet-desktop {
                    font-size: 1.25rem;
                }
                
            }
    
            p {
                font-family: var(--font-family-secondary);
                font-size: 0.9rem;
                color: color(text-secondary);
            }
    
            .clients {
                ul {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    margin-top: calc(#{$grid-gap} / 2);

                    img {
                        width: 100%;
                        padding: 0 0.5rem;
                        transform: translateZ(30px);
                    }
                }
            }
        }
    }
}