#about {
    position: relative;
    grid-gap: 2rem;
    grid-template-areas: "content";
    background-image: url(/assets/images/about.jpg);

    @include mobile {
        grid-template-rows: 100%;
        min-height: calc(100vh - var(--header-height) - var(--nav-height));
        align-content: center;
    }

    @include tablet {
        grid-template-rows: 100%;
    }

    @include desktop {
        grid-template-columns: 55%;
    }

    @include tablet-desktop {
        padding-left: var(--header-margin-lr);
        padding-right: var(--header-margin-lr);
    }

    &:after {
        content: " ";
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to top right, color(brand), rgba(color(brand), 0.80), rgba(color(brand-secondary), 0.6));
    }

    section {
        grid-area: content;
        display: grid;
        grid-template-rows: var(--page-heading-size) max-content max-content;
        color: color(text-inverse);
        z-index: 1;

        h1 {
            font-size: var(--page-heading-font-size);
            font-weight: var(--page-heading-font-weight);

            @include mobile {
                padding: 0 var(--header-margin-lr);
            }
        }

        p {
            font-family: var(--font-family-secondary);
            font-size: 0.95rem;
            line-height: 2;

            @include mobile {
                padding: 0 var(--header-margin-lr);
            }

            .highlight {
                font-family: var(--font-family-secondary);
                font-size: 1rem;
                font-weight: 600;
                color: #ffff00;
            }
        }

        ul {
            display: grid;
            grid-gap: 1rem;
            margin-top: 2rem;

            @include mobile {
                grid-template-columns: repeat(4, 14rem);

                @include mobile-long {
                    grid-template-columns: repeat(2, 14rem);
                }
            }

            @include tablet {
                grid-template-columns: repeat(4, 1fr);
            }

            @include desktop {
                grid-template-columns: repeat(2, 1fr);
            }

            li {
                display: grid;
                align-items: center;
                padding: 1rem;
                border-radius: 8px;
                background-color: rgba(#000, 0.5);
                @extend %shadow;
                transition: transform 0.2s ease-in;

                @include mobile {
                    grid-template-columns: max-content auto;
                    grid-gap: 1.5rem;
                }

                @include tablet {
                    text-align: center;
                    grid-gap: 1rem;
                }

                @include desktop {
                    grid-template-columns: max-content auto;
                    grid-gap: 1.5rem;

                    &:hover {
                        transform: scale(1.05);

                        i {
                            transform: scale(1.25);
                            text-shadow: 3px 3px 8px rgba(#000, 0.5);
                        }
                    }
                }

                i {
                    font-size: 3rem;
                    color: color(brand);
                    transition: transform 0.2s ease-in, text-shadow 0.2s ease-in;
                }
            }
        }
    }
}