@mixin mobile {
    @media (max-width: 767px) {
        @content;
    }
}

@mixin mobile-long {
    @media (max-width: 767px) and (min-height: 730px) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: 768px) and (max-width: 1024px) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: 1025px) {
        @content;
    }
}

@mixin tablet-desktop {
    @media (min-width: 768px) {
        @content;
    }
}

@mixin wide-screen {
    @media (min-width: 1280px) {
        @content;
    }
}


:root {
    --nav-height: 4rem;
    --header-margin-tb: 0.5rem;
    --header-transition-time: 0.5s;
    --page-heading-font-size: 2rem;
    --page-heading-font-weight: 500;
    --page-heading-size: 4rem;
    --container-margin-tb: 3rem;
    --font-family-primary: 'Josefin Sans', sans-serif;
    --font-family-secondary: 'Open Sans', sans-serif;

    @include mobile {
        --header-height: 3rem;
        --header-margin-lr: 1.5rem;

        .hide-sm {
            display: none;
        }
    }

    @include tablet {
        --header-height: 4rem;
        --header-margin-lr: 3rem;

        .hide-md {
            display: none;
        }
    }

    @include desktop {
        scroll-behavior: smooth;

        --header-height: 4rem;
        --header-margin-lr: 4.5rem;

        .hide-lg {
            display: none;
        }
    }

    @include wide-screen {
        --header-margin-lr: 8rem;

        .hide-xl {
            display: none;
        }
    }
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family-primary);
    letter-spacing: 0.5px;
    line-height: 1.5;
    word-break: break-word;
    list-style: none;
}


body {
    font-size: 1rem;
    scroll-snap-type: y mandatory;
    overflow-x: hidden;
    overflow-y: scroll;
}